<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:lcg="http://www.lassitercg.com/jsf"		
	template="/layout/template.xhtml">

	<ui:define name="titleHead">
		<h:outputFormat value="#{messages['editHourType.title']}" >
			<f:param value="#{hourTypesBean.hourType.type}"/>
		</h:outputFormat>			
	</ui:define>
	
	<ui:define name="titleBody">
		<h:outputFormat value="#{messages['editHourType.title']}" >
			<f:param value="#{hourTypesBean.hourType.type}"/>
		</h:outputFormat>			
	</ui:define>

	<ui:define name="content">
		<h:form>
			<ui:include src="/pages/hourType/toolbar/editHourType.xhtml"/>
			
	    	<ui:include src="/pages/hourType/hourType.xhtml">
	    		<ui:param name="hourType" value="#{hourTypesBean.hourType}" />
	    	</ui:include>
			
			<ui:include src="/pages/hourType/toolbar/editHourType.xhtml"/>
		</h:form>
	</ui:define>
</ui:composition>