<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:p="http://primefaces.org/ui"
	template="/layout/template.xhtml">
	
	<ui:define name="titleHead">
		#{messages['mainMemu.dictionaries']} / #{messages['hourTypes.title']}</ui:define>
		
	<ui:define name="titleBody">
		<h:panelGroup>#{messages['mainMemu.dictionaries']}</h:panelGroup> / #{messages['hourTypes.title']}</ui:define>

	<ui:define name="content">
		<h:form>
			<ui:include src="/pages/hourType/toolbar/hourTypes.xhtml" />

			<rich:dataTable id="hourTypesTable" value="#{hourTypeRepository.all}"
				var="hourType" style="max-width:1000px;">
				<rich:column style="width:15%">
					<f:facet name="header">#{messages['hourTypes.column.actualType']}</f:facet>
					<h:outputText value=""
						styleClass="#{hourType.actualTime ? 'actualTime' : ''}" />
				</rich:column>
				<rich:column sortBy="#{hourType.type}"
					sortOrder="#{hourTypesBean.typeNameOrder}"
					style="width:100%;">
					<f:facet name="header">
						<p:commandLink update="hourTypesTable" action="#{hourTypesBean.sortByName()}">
                            #{messages['hourTypes.column.type']}
							<h:outputText value="" styleClass="#{hourTypesBean.typeNameOrder == 'unsorted' ? 'unsorted_ico' 
	   								: (hourTypesBean.typeNameOrder == 'ascending') ? 'unsorted_ico, asc_ico' : 'unsorted_ico, desc_ico'}" />							
						</p:commandLink>
					</f:facet>
					<h:outputText value="#{hourType.type}"/>					
				</rich:column>
				<rich:column>
					<f:facet name="header">#{messages['hourTypes.column.action']}</f:facet>
					<p:commandButton value=""
						icon="checkIcon" 
						action="hourTypes"
						actionListener="#{hourTypeRepository.setAsActualTime(hourType)}"
						onclick="return confirm('#{messages['label.confirm.markAsActual']}');"
						styleClass="avoidChangeTracking invisibleBorder leftSideButton"
						ajax="false" />
					<p:button value="" outcome="edit" includeViewParams="true"
						icon="editIcon"
						styleClass="avoidChangeTracking invisibleBorder rightSideButton">
						<f:param name="hourType" value="#{hourType.id}" />
					</p:button>							
					<p:commandButton value="#{messages['button.delete']}" action="hourTypes"
						icon="deleteIcon"
						actionListener="#{hourTypesBean.remove(hourType)}"
						onclick="return confirm('#{messages['label.confirm.delete']}');"
						styleClass="avoidChangeTracking invisibleBorder"
						ajax="false"/>
				</rich:column>
			</rich:dataTable>

			<ui:include src="/pages/hourType/toolbar/hourTypes.xhtml" />
		</h:form>
	</ui:define>
</ui:composition>