<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:lcg="http://www.lassitercg.com/jsf">
	
	<h:panelGrid columns="3" styleClass="panelGridDetails">
		<p:outputLabel for="type" value="#{messages['hourType.label.type']}:"/>
    	<p:inputText id="type" value="#{hourType.type}" maxlength="255" required="true"/>
    	<p:message for="type"/>    	    	
	</h:panelGrid>
		
</ui:composition>	