<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:lcg="http://www.lassitercg.com/jsf"
	xmlns:arttime="http://java.sun.com/jsf/composite/components"
	xmlns:o="http://omnifaces.org/ui" xmlns:of="http://omnifaces.org/functions"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="/layout/template.xhtml">
	
	<ui:define name="titleHead">#{messages['manageEfforts.title']}</ui:define>
	
	<ui:define name="titleBody">
		<ui:include src="/pages/filterSaveAsToolbar.xhtml">
				<ui:param name="title" value="#{messages['manageEfforts.title']}"/>
		</ui:include>
	</ui:define>
	
	<ui:define name="predefineState">
		<c:set var="grouping" value="#{manageEffortsStateBean.grouping}"/>		
		<h:form>								
			<p:commandButton value="#{messages['manageEfforts.button.byProjects']}" 
					action="#{manageEffortsBean.resetData()}"
					styleClass="avoidChangeTracking #{grouping=='BY_PROJECTS'?'selected':''}"
					ajax="false">
				<f:setPropertyActionListener value="BY_PROJECTS" target="#{grouping}" />		
			</p:commandButton>
			<p:commandButton value="#{messages['manageEfforts.button.byEmployees']}" 
					action="#{manageEffortsBean.resetData()}"
					styleClass="avoidChangeTracking #{grouping=='BY_EMPLOYEES'?'selected':''}"
					ajax="false">
				<f:setPropertyActionListener value="BY_EMPLOYEES" target="#{grouping}" />		
			</p:commandButton>
		</h:form>
	</ui:define>	


	<ui:define name="content">
		<h:outputScript name="effortsTableValidation.js" library="js"/>	

		<script type="text/javascript">
		//<![CDATA[
			document.ready = function() {				
				showTitlesInsideSheet();
				resizeTableContainers();
                setTimeout(function () {
                    effortsSheet.ht.render();
                }, 100);
			};

	    	window.onresize = function() {        	
	    		resizeTableContainers();
			};

			window.onload = function() {
				resizeTableContainers();
			}
	
			function resizeTableContainers() {
				var height = $(window).height();
	    		var toolbars = document.getElementsByClassName('toolBar');
	    		height = height - toolbars[0].offsetTop - toolbars[0].offsetHeight;
	    		height = height - document.getElementById('copyright').offsetHeight;
	    		if (navigator.userAgent.search("Chrome") >= 0){
	    			$("div[id$='manageEffortsSheet_tbl']").css("height", height - 15);
		    	} else {
		    		$("div[id$='manageEffortsSheet_tbl']").css("height", height - 10);
			    }
	    		$("div[id$='fullPage']").css("height", height);
			}
	    //]]>	
		</script>

	
	
		<f:metadata>
			<f:viewParam name="usernames" value="#{manageEffortsBean.employees}" converter="listEmployeeConverter"/>
			<f:viewParam name="start" value="#{manageEffortsBean.period.start}" >
				<f:convertDateTime pattern="dd.MM.yy" />
			</f:viewParam>
			<f:viewParam name="finish" value="#{manageEffortsBean.period.finish}">
				<f:convertDateTime pattern="dd.MM.yy" />
			</f:viewParam>
			<f:viewAction  action="#{manageEffortsBean.initByGetRequest}"/>
		</f:metadata>
		
		<h:form>
			<ui:include src="/pages/manageEfforts/toolbar.xhtml">
				<ui:param name="topBar" value="true"/>
			</ui:include>
			<p:remoteCommand name="expandFilter" actionListener="#{filterBean.panelsCollapsedState.put('filter', false)}" />
			<p:remoteCommand name="collapseFilter" actionListener="#{filterBean.panelsCollapsedState.put('filter', true)}" />
		</h:form>
				
		<pe:layout id="fullPage" widgetVar="fpLayoutWidget" fullPage="false" style="height:700px;" stateCookie="false">
			<p:ajax event="open" oncomplete="expandFilter();"/>
			<p:ajax event="close" oncomplete="collapseFilter();"/>
			
			<pe:layoutPane position="west" initClosed="#{filterBean.panelsCollapsedState['filter']}" resizable="false" id="westPane" size="270" styleClassContent="westLayoutPanel" >				
				<h:form id="filterForm">
					<ui:include src="/pages/filter.xhtml">
						<ui:param name="itemBean" value="#{manageEffortsBean}"/>
						<ui:param name="itemAction" value="setCurrentFilterAndResetData"/>
					</ui:include>
					<p:commandButton id="applyFilter" style="display:none;"							
			   				styleClass="avoidChangeTracking" ajax="false"
			   				action="#{manageEffortsBean.resetData()}"/>
				</h:form>
		  	</pe:layoutPane>
		  	<pe:layoutPane position="center" resizable="false">
		  		<h:form id="manageEffortsForm" >
		  			<p:commandButton id="saveButton" action="#{manageEffortsBean.saveHours()}" 
		  					styleClass="avoidChangeTracking avoidChangesConfirmation" 
		  					ajax="false" style="display:none;"/>		  			
					<c:set var="days" value="#{manageEffortsBean.spreadSheet.filter.period.getDays()}" scope="view"/>
					<c:set var="rows" value="#{manageEffortsBean.spreadSheet.rows}" scope="view"/>
										
					<lcg:sheet id="manageEffortsSheet" value="#{rows}" widgetVar="effortsSheet"
							var="row" height="692" stretchH="true" fixedCols="3" rowKey="#{row.getKey()}" 
				  			showRowHeaders="false" binding="#{manageEffortsBean.spreadSheet.sheet}"
				  			emptyMessage="#{messages['warning.datatable.empty']}">
	
						<p:ajax listener="#{manageEffortsBean.spreadSheet.cellEditEvent()}" async="false"/>				  														  							  
						<c:set var="firstColValue" value="#{row.getFirstColValue(grouping)}"/>
						<c:set var="rowIndex" value="#{manageEffortsBean.spreadSheet.sheet.rowIndex}"/>						
						<c:set var="previousFirstColValue" value="#{(rowIndex == 0) ? '' : rows.get(rowIndex-1).getFirstColValue(grouping)}"/>
						<c:set var="nextFirstColValue" value="#{(rowIndex == rows.size()-1) ? '' : rows.get(rowIndex+1).getFirstColValue(grouping)}"/>
						<c:set var="firstheader" value="#{messages['manageEfforts.table.project']}"/>												
						<c:set var="headRow" value="#{row.getClass().simpleName == 'HeadSpreadSheetRow'}"/>
						<c:set var="totalRow" value="#{row.getClass().simpleName == 'TotalsSpreadSheetRow'}"/>
						<c:set var="hoursRow" value="#{row.getClass().simpleName == 'HoursSpreadSheetRow'}"/>																					
												
						<lcg:column headerText="#{firstheader}"								
								value="#{firstColValue == previousFirstColValue ? '' : (totalRow) ? messages['manageEfforts.table.total'] : firstColValue}"								
								readonly="true" colWidth="250" 
								styleClass="#{firstColValue == nextFirstColValue ? 'hiddenBottomBorder' : ''} #{headRow ? 'groupHeader' : ''} tdLongTextContainer #{totalRow ? 'totalsRow' : ''}"/>
								
						<lcg:column headerText="#{messages['manageEfforts.table.hourType']}" 
								value="#{row.getHourType().type}" 
								readonly="true" colWidth="120"
								styleClass="#{headRow ? 'groupHeader' : ''} tdLongTextContainer hiddenRightBorder #{totalRow ? 'totalsRow' : ''}"/>														     					     																										
								
						<lcg:column headerText="#{messages['manageEfforts.table.total']}" 
								value="#{row.rowTotal}" 
								readonly="true" colWidth="80"
								headerStyleClass="totalColumn" 
								styleClass="#{headRow ? 'groupHeader' : ''} totalColumn #{totalRow ? 'totalsRow' : ''}"/>
						
						<c:forEach var="day" items="#{days}">
							<c:set var="dayClass" value="#{manageEffortsBean.getHeaderStyleClass(day)}"/>							
							<c:set var="header" 
										value="&lt;span class='#{dayClass}'&gt;&lt;span class='weekDay'&gt;#{of:formatDate(day, 'EE')}&lt;/span&gt;
												&lt;span class='dayNumber'&gt;#{of:formatDate(day, 'd')}&lt;/span&gt;
												&lt;span class='month'&gt;#{of:formatDate(day, 'MMM')}&lt;/span&gt;
												&lt;/span&gt;"/>
							<c:set var="styles" value="#{hoursRow ? manageEffortsBean.getStyleClass(row.get(day)) : ''}"/>							
							<lcg:column headerText="#{header}" colWidth="50"
									comment="#{(row.get(day) != null and row.getClass().simpleName == 'HoursSpreadSheetRow') ? row.get(day).comment : null}"																	
									value="#{(row.get(day) != null and hoursRow) 
											? row.get(day).quantity 
											: row.get(day)}"																	
									readonlyCell="#{!row.existsHours(day)}" 
									styleClass="#{headRow ? 'groupHeader' : ''} #{totalRow ? 'totalsRow' : ''} #{hoursRow ? manageEffortsBean.getStyleClass(row.get(day)) : ''}"/>
						</c:forEach>																				     					
					</lcg:sheet>
				</h:form>
			</pe:layoutPane>
		</pe:layout>
	</ui:define>  
</ui:composition>