<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:arttime="http://java.sun.com/jsf/composite/components">
	
	<rich:toolbar styleClass="toolBar">
		<rich:toolbarGroup location="left" rendered="#{topBar}">
			
			<h:commandLink value="" 					
					styleClass="avoidChangeTracking filterButton" immediate="true"
					onclick="PF('fpLayoutWidget').toggle('west')">
				<f:ajax render="filterButtonPanel"/>				
			</h:commandLink>				
			
			<h:panelGroup rendered="#{topBar}">				
				<arttime:advancedPeriodSelector selector="#{filterBean.currentFilter.rangePeriodSelector}"/>				
				<p:commandButton value="#{messages['button.apply']}" ajax="true" styleClass="avoidChangeTracking"
		   				onstart="document.getElementById('filterForm:applyFilter').click();"/>
		   	</h:panelGroup>			
		</rich:toolbarGroup>
		
		<rich:toolbarGroup location="right">
			<p:commandButton action="#{manageEffortsBean.approveSelectedHours()}" 
					title="#{messages['button.approve']}" value=""
					rendered="#{topBar}" ajax="true" 
					process="@this :manageEffortsForm"
					partialSubmit="true"
                    icon="approveIcon" styleClass="leftPositionButton"/>
			<p:commandButton action="#{manageEffortsBean.disapproveSelectedHours()}"
                    title="#{messages['button.reject']}" value=""
					rendered="#{topBar}" ajax="true" 
					process="@this :manageEffortsForm"
					partialSubmit="true"
                    icon="disapproveIcon" styleClass="middlePositionButton"/>
			<p:commandButton action="#{manageEffortsBean.approveAllHours()}"
                    title="#{messages['button.approveAll']}" value=""
					rendered="#{topBar}"
					ajax="true" process="@this :manageEffortsForm"
                    icon="approveAllIcon" styleClass="middlePositionButton"/>
			<p:commandButton action="#{manageEffortsBean.disapproveAllHours()}"
                    title="#{messages['button.rejectAll']}" value=""
					rendered="#{topBar}"
					ajax="true" process="@this :manageEffortsForm"					
                    icon="disapproveAllIcon" styleClass="rightPositionButton"/>                       			              
			<p:commandButton value="#{messages['button.save']}" 
					onclick="return waitForHoursSubmit(document.getElementById('manageEffortsForm:saveButton'));"						
					styleClass="avoidChangeTracking avoidChangesConfirmation"                    
					ajax="true" icon="saveIcon"/>
		</rich:toolbarGroup>
	</rich:toolbar>

    <h:outputScript>
        function waitForHoursSubmit(button) {
            //Wait if hours submitted simultaneously with button click
            setTimeout(function () {
                button.onclick = undefined;
                button.click();
            }, 300);
            return false;
        }
    </h:outputScript>
</ui:composition>	