<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core" 
      xmlns:arttime="http://java.sun.com/jsf/composite/components">
	
	<composite:interface>
		<composite:attribute name="selector" type="com.artezio.arttime.web.criteria.RangePeriodSelector" required="true"/>									
	</composite:interface>

	<composite:implementation>
		<h:panelGroup id="advancedPeriodSelector" styleClass="avoidChangeTracking">
			 <h:panelGroup styleClass="periodSelectorButtons">
				<p:commandButton value="#{messages['advancedPeriodSelector.period.week']}" 
						action="#{cc.attrs.selector.setWeekPeriod()}"
						styleClass="avoidChangeTracking leftPositionButton #{cc.attrs.selector.range=='WEEK'?'selected':''}"
						process="@this" update="advancedPeriodSelector" immediate="true">					
				</p:commandButton>
				<p:commandButton value="#{messages['advancedPeriodSelector.period.month']}" 
						action="#{cc.attrs.selector.setMonthPeriod()}"
						styleClass="avoidChangeTracking middlePositionButton #{cc.attrs.selector.range=='MONTH'?'selected':''}"
						process="@this" update="advancedPeriodSelector" immediate="true">					
				</p:commandButton>
				<p:commandButton value="#{messages['advancedPeriodSelector.period.custom']}" 
						action="#{cc.attrs.selector.setCustomPeriod()}"
						styleClass="avoidChangeTracking rightPositionButton #{cc.attrs.selector.range=='CUSTOM'?'selected':''}"
						process="@this" update="advancedPeriodSelector" immediate="true">					
				</p:commandButton>
			</h:panelGroup>	
			<arttime:weekSelector period="#{cc.attrs.selector.period}" 
					rendered="#{cc.attrs.selector.range == 'WEEK'}"/>
			<arttime:monthSelector period="#{cc.attrs.selector.period}"
					rendered="#{cc.attrs.selector.range == 'MONTH'}"/>
			<arttime:customPeriodSelector period="#{cc.attrs.selector.period}"
					rendered="#{cc.attrs.selector.range == 'CUSTOM'}"/>	
		</h:panelGroup>
	</composite:implementation>
</html>