<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j" >
	
	<composite:interface componentType="customPeriodSelector">
		<composite:attribute name="period"/>				
	</composite:interface>

	<composite:implementation>
		<f:event type="postAddToView" listener="#{cc.init}" />		
		<h:panelGroup id="customPeriodSelector" styleClass="periodSelector">		
			<p:commandButton value="&#60;" action="#{cc.setPreviousPeriod()}" 
					styleClass="avoidChangeTracking previous"
					update="customPeriodSelector" immediate="true" process="@this"/>
								
			<p:calendar id="customPeriodStart" value="#{cc.attrs.period.start}" required="true"
					styleClass="calendar">
				<p:ajax event="dateSelect" process="@this customPeriodFinish" update="customPeriodSelector"/>
			</p:calendar>
			-
			<p:calendar id="customPeriodFinish" value="#{cc.attrs.period.finish}" required="true" validator="periodValidator"
					styleClass="calendar">
				<p:ajax event="dateSelect" process="@this customPeriodStart" update="customPeriodSelector"/>
				<f:attribute name="start" value="customPeriodStart"/>
                <f:attribute name="validatePeriodSelector" value="true"/>
			</p:calendar>

			<p:commandButton value="&#62;" action="#{cc.setNextPeriod()}"
					styleClass="avoidChangeTracking next"
					update="customPeriodSelector" immediate="true" process="@this"/>								
		</h:panelGroup>
	</composite:implementation>
</html>