<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j" >
	
	<composite:interface componentType="monthSelector">
		<composite:attribute name="period"/>				
	</composite:interface>

	<composite:implementation>
		<style type="text/css">
			.special tr[id]{
				display:none; 
			}
		</style> 
			
		<f:event type="postAddToView" listener="#{cc.init}" />		
		<h:panelGroup id="monthSelector" styleClass="periodSelector">		
			<p:commandButton value="&#60;" action="#{cc.setPreviousPeriod()}"
					styleClass="avoidChangeTracking previous"
					update="monthSelector" immediate="true" process="@this"/>
								
 			<h:panelGroup styleClass="rf-cal special monthSelector" layout="block">
	 			<h:outputText value="#{cc.attrs.period.start}" >
	              	<f:convertDateTime pattern="MMMM" />
	 			</h:outputText>
	 			<h:outputText value="#{cc.attrs.period.start}" >
	              	<f:convertDateTime pattern=" yyyy" />
	 			</h:outputText>
 			</h:panelGroup>																	
				
			<p:commandButton value="&#62;" action="#{cc.setNextPeriod()}" 
					styleClass="avoidChangeTracking next"
					update="monthSelector" immediate="true" process="@this"/>								
		</h:panelGroup>
	</composite:implementation>
</html>