<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:of="http://omnifaces.org/functions">

    <composite:interface>
    </composite:interface>

    <composite:implementation>    	
        <h:panelGroup rendered="#{cc.rendered}" layout="block" styleClass="hoursIndicator">
        	<div title="#{reportedHoursIndicator.timeReportedIncorrectly ? reportedHoursIndicator.warningMessage : ''}">
                <h:outputText styleClass="label" value="#{messages['hoursIndicator.label.period']}:"/>
                <h:panelGroup layout="block" styleClass="field">
                    <h:outputText value="#{of:formatNumber(reportedHoursIndicator.reportedTime, '#.##')}
                            / #{of:formatNumber(reportedHoursIndicator.requiredTime, '#.##')} #{messages['hoursIndicator.value.measure']}"/>
                    <h:graphicImage id="exclamation" value="/img/exclamation.png"
                            rendered="#{reportedHoursIndicator.timeReportedIncorrectly}"/>

                </h:panelGroup>

                <p:progressBar value="#{reportedHoursIndicator.reportedTimePercents}" displayOnly="true"/>
            </div>            
        </h:panelGroup>

        <h:outputScript>
            $(".hoursIndicator .ui-progressbar-value").css("background-image",
                    "linear-gradient(to left, pink #{reportedHoursIndicator.overTimePercents}%, transparent 0%)");
        </h:outputScript>
    </composite:implementation>
</html>