<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j" 
      xmlns:c="http://java.sun.com/jstl/core">
	
	<composite:interface componentType="selectManyComponent">
		<composite:attribute name="availableItems"/>
		<composite:attribute name="selectedItems"/>
		<composite:attribute name="itemLabel"/>
		<composite:attribute name="styleClass3rdButton" default="rightPositionButton"/>
        <composite:facet name="extraActionPanel"/>
	</composite:interface>

	<composite:implementation>	
		<f:event type="postAddToView" listener="#{cc.init}"/>
		
		<h:outputScript>
			//<![CDATA[
				$(document).ready(function() {
					clickUnbind();											 				
				});
				function clickUnbind(){
					$(".ui-selectmanymenu .ui-selectlistbox-item").unbind('click');
				}										
				function filter(componentId) {																																	
					var searchValue = $("input[id$=':" + componentId + ":filter']").val();																																			 																																																											
					var items = $( "div[id$=':" + componentId + ":selector']" ).find("li");
					searchValue = searchValue.toUpperCase();										
					for (var i=0; i < items.length; i++) {
						var itemContent = items[i].textContent.toUpperCase();						
						if (itemContent.search(searchValue) == -1) {							
							items[i].style.display = "none";
						} else {
							items[i].style.display = "";
						}												
					}												 										
				}
			//]]>
		</h:outputScript>

		<h:panelGroup id="selectManyMenu">
            <h:panelGrid styleClass="actionPanel" columns="4">
                <p:commandButton title="#{messages['button.selectAll']}" value="" icon="selectAllIcon"
                        action="#{cc.selectAll()}" resetValues="true"
                        styleClass="avoidChangeTracking avoidChangesConfirmation leftPositionButton"
                        update="selector" immediate="true" process="@this" oncomplete="clickUnbind();"/>
                <p:commandButton title="#{messages['button.selectNone']}" value="" icon="selectNoneIcon"
                        action="#{cc.selectNone()}" resetValues="true"
                        styleClass="avoidChangeTracking avoidChangesConfirmation middlePositionButton"
                        update="selector" immediate="true" process="@this" oncomplete="clickUnbind();"/>
                <p:commandButton title="#{messages['button.invert']}" value="" icon="invertSelectionIcon"
                        action="#{cc.invertSelection()}" resetValues="true"
                        styleClass="avoidChangeTracking avoidChangesConfirmation #{cc.attrs.styleClass3rdButton}"
                        update="selector" immediate="true" process="@this" oncomplete="clickUnbind();"/>
                <composite:renderFacet name="extraActionPanel"/>
            </h:panelGrid>
            
			<h:inputText id="filter" value="#{cc.searchValue}"
				onkeyup="filter('#{cc.id}');" styleClass="searchInput"/>
			<p:selectManyMenu id="selector" value="#{cc.attrs.selectedItems}"
				converter="omnifaces.SelectItemsConverter" filter="true"
				filterMatchMode="contains" showCheckbox="true"
				styleClass="manySelectorPanel" collectionType="java.util.ArrayList" >
				<f:selectItems value="#{cc.attrs.availableItems}" var="item" 
						itemLabel="#{cc.attrs.itemLabel}"/>
				<f:ajax render=".ui-selectlistbox-listcontainer" event="change"/>				
			</p:selectManyMenu>
		</h:panelGroup>
	</composite:implementation>
</ui:composition>