<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j" >
	
	<composite:interface componentType="weekSelector">
		<composite:attribute name="period"/>				
	</composite:interface>

	<composite:implementation>					
		<f:event type="postAddToView" listener="#{cc.init}" />		
		<h:panelGroup id="weekSelector" styleClass="periodSelector">			
				
			<p:commandButton value="&#60;" action="#{cc.setPreviousPeriod()}"
					styleClass="avoidChangeTracking previous"
					update="weekSelector" immediate="true" process="@this"/>									
								
			<p:calendar value="#{cc.attrs.period.start}" 
					disabled="true" styleClass="calendar" />
			-
			<p:calendar value="#{cc.attrs.period.finish}" 
					disabled="true" styleClass="calendar" />																	
				
			<p:commandButton value="&#62;" action="#{cc.setNextPeriod()}"
					styleClass="avoidChangeTracking next"
					update="weekSelector" immediate="true" process="@this"/>								
		</h:panelGroup>
	</composite:implementation>
</html>