<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:rich="http://richfaces.org/rich">
	
	<rich:toolbar styleClass="toolBar">
		<rich:toolbarGroup location="left" rendered="#{topBar}">
			<c:set var="project" value="#{projectBean.project}"/>
			<p:button value="#{messages['project.button.team']}" 
					outcome="switchTab" includeViewParams="true"
					styleClass="avoidChangeTracking leftPositionButton #{projectBean.selectedTab == 'team' ? 'selected' : ''}">
				<f:param name="project" value="#{project.code}"/>
				<f:param name="selectedTab" value="team"/>
			</p:button>	
			<p:button value="#{messages['project.button.details']}" 
					outcome="switchTab" includeViewParams="true"
					styleClass="avoidChangeTracking middlePositionButton #{projectBean.selectedTab == 'details' ? 'selected' : ''}">
				<f:param name="project" value="#{project.code}"/>
				<f:param name="selectedTab" value="details"/>
			</p:button>				
            <p:button value="#{messages['project.button.statuses']}"
                      outcome="switchTab" includeViewParams="true"
                      styleClass="avoidChangeTracking middlePositionButton #{projectBean.selectedTab == 'statuses' ? 'selected' : ''}">
                <f:param name="project" value="#{project.code}"/>
                <f:param name="selectedTab" value="statuses"/>
            </p:button>
            <p:button value="#{messages['project.button.importSettings']}" 
					outcome="switchTab" includeViewParams="true"
					styleClass="avoidChangeTracking rightPositionButton #{projectBean.selectedTab == 'importSettings' ? 'selected' : ''}">
				<f:param name="project" value="#{project.code}"/>
				<f:param name="selectedTab" value="importSettings"/>
			</p:button>
		</rich:toolbarGroup>
		<rich:toolbarGroup location="right">
			<p:commandButton value="#{messages['button.save']}" 
	    			action="update" actionListener="#{projectBean.update(project)}"
	    			styleClass="avoidChangeTracking avoidChangesConfirmation"
	    			ajax="false"
	    			icon="saveIcon"/>
	    	<p:commandButton value="#{messages['button.cancel']}" 
	    			action="cancel" immediate="true"
	    			styleClass="avoidChangeTracking avoidChangesConfirmation"
	    			ajax="false">    		
	    	</p:commandButton>		
		</rich:toolbarGroup>
	</rich:toolbar>									
</ui:composition>	