<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:rich="http://richfaces.org/rich">
	
	<c:set var="criteria" value="#{projectsSelectionCriteriaBean.criteria}"/>
	
	<rich:toolbar styleClass="toolBar">		
		<rich:toolbarGroup location="left" itemClass="" >							
			<p:inputText value="#{criteria.searchQuery}"
					placeholder="#{messages['input.placeholder.search']}"
					styleClass="avoidChangeTracking searchInput" 
					rendered="#{topBar}"/>
			<p:commandButton action="search" 
					value=""				 
					styleClass="avoidChangeTracking avoidChangesConfirmation searchButton"
					rendered="#{topBar}"
					ajax="false"/>			
		</rich:toolbarGroup>
		
		<rich:toolbarGroup location="right">
			<p:commandButton value="#{messages['com.artezio.arttime.status.any']}"
					action="#{criteria.setStatus('ANY')}"
					styleClass="avoidChangeTracking avoidChangesConfirmation leftPositionButton #{criteria.status=='ANY'?'selected':''}"
					rendered="#{topBar}"
					ajax="false"/>
			<p:commandButton value="#{messages['com.artezio.arttime.status.active']}"
					action="#{criteria.setStatus('ACTIVE')}"
					styleClass="avoidChangeTracking avoidChangesConfirmation middlePositionButton #{criteria.status=='ACTIVE'?'selected':''}"
					rendered="#{topBar}"
					ajax="false"/>
			<p:commandButton value="#{messages['com.artezio.arttime.status.onHold']}"
					action="#{criteria.setStatus('FROZEN')}"
					styleClass="avoidChangeTracking avoidChangesConfirmation middlePositionButton #{criteria.status=='FROZEN'?'selected':''}"
					rendered="#{topBar}"
					ajax="false"/>
			<p:commandButton value="#{messages['com.artezio.arttime.status.closed']}"
					action="#{criteria.setStatus('COMPLETED')}"
					styleClass="avoidChangeTracking avoidChangesConfirmation rightPositionButton #{criteria.status=='COMPLETED'?'selected':''}"
					rendered="#{topBar}"
					ajax="false"/>
			<p:commandButton value="#{messages['projects.button.addNew']}" 
	    			action="addNew" actionListener="#{projectBean.addNew()}" 
	    			styleClass="avoidChangeTracking avoidChangesConfirmation"
	    			ajax="false"
	    			icon="newIcon"/>
		</rich:toolbarGroup>
	</rich:toolbar>				
</ui:composition>	