<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:arttime="http://java.sun.com/jsf/composite/components">

    <h:panelGroup>
        <p:commandButton value="#{messages['reports.button.label.download']}" 
        		ajax="false"
        		styleClass="invisibleBorder avoidChangeTracking"
        		icon="xlsIcon">
            <f:setPropertyActionListener target="#{reportsBean.reportName}" value="#{reportName}"/>
            <f:setPropertyActionListener target="#{reportsBean.reportType}" value="#{reportsBean.reportTypeExcel}" />
            <p:fileDownload value="#{reportsBean.file}" />
        </p:commandButton>
    </h:panelGroup>

</ui:composition>