<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:lcg="http://www.lassitercg.com/jsf"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:arttime="http://java.sun.com/jsf/composite/components"
	template="/layout/template.xhtml">

	<ui:define name="titleHead">
		#{messages['reports.title']}			
	</ui:define>
	
	<ui:define name="titleBody">
		<ui:include src="/pages/filterSaveAsToolbar.xhtml">
				<ui:param name="title" value="#{messages['reports.title']}"/>
		</ui:include>			
	</ui:define>

	<ui:define name="content">
		<h:form id="reportsForm">
			<h:outputScript name="resizeTableContainer.js" library="js"/>
		
			<ui:include src="/pages/periodSelector.xhtml">
				<ui:param name="update" value="reportsForm:filterContainer"/>
			</ui:include>
	
			<p:layout id="fullPage"  >
				<p:layoutUnit position="west" size="270" styleClass="westLayoutPanel">
						<ui:include src="/pages/filter.xhtml">
							<ui:param name="showHourTypesSelector" value="true"/>
							<ui:param name="itemBean" value="#{filterBean}"/>
							<ui:param name="itemAction" value="setCurrentFilter"/>
						</ui:include>
				</p:layoutUnit>

				<p:layoutUnit position="center">
				
					<rich:graphValidator value="#{filterBean.currentFilter}">
						<h:outputText value="#{messages['reports.label.warning']}" styleClass="warning"/>
						
						<h:panelGrid  columns="2" styleClass="rf-dt">
															
							<h:outputText value="#{messages['reports.label.reportType']}" />								
							<h:outputText value="#{messages['reports.label.action']}" />
							
							<h:outputText value="#{messages['reports.label.employeesReport']}"/>
							<ui:include src="downloadButtons.xhtml">
								<ui:param name="reportName" value="EMPLOYEES_REPORT"/>
							</ui:include>
														
							<h:outputText value="#{messages['reports.label.projectReport']}" />					
							<ui:include src="downloadButtons.xhtml">
								<ui:param name="reportName" value="PROJECT_REPORT"/>
							</ui:include>
							
							
							<h:outputText value="#{messages['reports.label.timeBalanceReport']}"/>							
							<ui:include src="downloadButtons.xhtml">
								<ui:param name="reportName" value="TIME_BALANCE_REPORT"/>
							</ui:include>
							
							<h:outputText value="#{messages['reports.label.daysReport']}" />					
							<ui:include src="downloadButtons.xhtml">
								<ui:param name="reportName" value="DAYS_REPORT"/>
							</ui:include>
							
						</h:panelGrid>
					</rich:graphValidator>
				
				</p:layoutUnit>
			</p:layout>
		</h:form>
	</ui:define>
</ui:composition>