<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:lcg="http://www.lassitercg.com/jsf"
	xmlns:arttime="http://java.sun.com/jsf/composite/components"
	xmlns:of="http://omnifaces.org/functions"	
	template="/layout/template.xhtml">		
	
	<ui:define name="titleHead">
		#{messages['timesheet.title']}			
	</ui:define>
	
	<ui:define name="titleBody">
		#{messages['timesheet.title']}			
	</ui:define>	
		
	<ui:define name="content">
		<h:outputScript name="effortsTableValidation.js" library="js"/>
		<script type="text/javascript">
		//<![CDATA[					
			document.ready = function() {				
	    		resizeTableContainers();
	    		showTitlesInsideSheet();
                setTimeout(function () {
                    effortsSheet.ht.render();
                }, 100);
			};
		
	    	window.onresize = function() {        	
	    		resizeTableContainers();
			};

			window.onload = function() {
				resizeTableContainers();
			}
	
			function resizeTableContainers() {
				var height = $(window).height();
	    		var toolbars = document.getElementsByClassName('toolBar');
	    		height = height - toolbars[0].offsetTop - toolbars[0].offsetHeight;
	    		height = height - document.getElementById('copyright').offsetHeight;    
	    		$("div[id$='timesheet_tbl']").css("height", height);
			}
	    //]]>	
		</script>
				
		<f:metadata>
			<f:viewParam name="start" value="#{timesheetBean.period.start}" >
				<f:convertDateTime pattern="dd.MM.yy" />
			</f:viewParam>
			<f:viewParam name="finish" value="#{timesheetBean.period.finish}">
				<f:convertDateTime pattern="dd.MM.yy" />
			</f:viewParam>
			<f:viewAction  action="#{timesheetBean.initByGetRequest}"/>
		</f:metadata>

		<h:form>			
			<ui:include src="/pages/timesheet/toolbar.xhtml">
				<ui:param name="topBar" value="true"/>
			</ui:include>
		</h:form>
		
		<h:form id="timesheetForm">
			<p:commandButton id="saveButton" action="#{timesheetBean.saveHours()}" 
		  			styleClass="avoidChangeTracking avoidChangesConfirmation" 
		  			ajax="false" style="display:none;"/>						
			<c:set var="spreadSheet" value="#{timesheetBean.spreadSheet}"/>
			<c:set var="days" value="#{timesheetBean.spreadSheet.filter.period.days}" scope="view"/>
			<c:set var="rows" value="#{timesheetBean.spreadSheet.rows}" scope="view"/>
			<lcg:sheet id="timesheet" value="#{rows}" widgetVar="effortsSheet"
					var="row" height="692" stretchH="true" fixedCols="3"
		  			showRowHeaders="false" binding="#{timesheetBean.spreadSheet.sheet}" rowKey="#{row.getKey()}"
		  			emptyMessage="#{messages['warning.datatable.empty']}">				
				
				<p:ajax listener="#{timesheetBean.spreadSheet.cellEditEvent()}" async="true"/>						  														  							  
				<c:set var="firstColValue" value="#{row.getFirstColValue('BY_EMPLOYEES')}"/>
				<c:set var="rowIndex" value="#{timesheetBean.spreadSheet.sheet.rowIndex}"/>						
				<c:set var="previousFirstColValue" value="#{(rowIndex == 0) ? '' : rows.get(rowIndex-1).getFirstColValue('BY_EMPLOYEES')}"/>
				<c:set var="nextFirstColValue" value="#{(rowIndex == rows.size()-1) ? '' : rows.get(rowIndex+1).getFirstColValue('BY_EMPLOYEES')}"/>
				<c:set var="firstheader" value="#{messages['timesheet.table.project']}"/>
				<c:set var="headRow" value="#{row.getClass().simpleName == 'HeadSpreadSheetRow'}"/>
				<c:set var="totalRow" value="#{row.getClass().simpleName == 'TotalsSpreadSheetRow'}"/>
				<c:set var="hoursRow" value="#{row.getClass().simpleName == 'HoursSpreadSheetRow'}"/>
										
				<lcg:column headerText="#{firstheader}" 
						value="#{firstColValue == previousFirstColValue ? '' : totalRow ? messages['manageEfforts.table.total'] : firstColValue}"								
						readonly="true" colWidth="250" 
						styleClass="tdLongTextContainer #{firstColValue == nextFirstColValue ? 'hiddenBottomBorder' : ''} #{totalRow ? 'totalsRow' : ''}"/>
						
				<lcg:column headerText="#{messages['manageEfforts.table.hourType']}" 
						value="#{row.getHourType().type}" 
						styleClass="tdLongTextContainer hiddenRightBorder #{totalRow ? 'totalsRow' : ''}" 
						readonly="true" colWidth="120"/>														     					     																										
						
				<lcg:column headerText="#{messages['manageEfforts.table.total']}"  
						value="#{row.rowTotal}"
						headerStyleClass="totalColumn" 
						readonly="true" colWidth="80" 
						styleClass="totalColumn #{totalRow ? 'totalsRow' : ''}"/>
				
				<c:forEach var="day" items="#{days}">
					<c:set var="dayClass" value="#{timesheetBean.getHeaderStyleClass(day)}"/>					
					<c:set var="header" 
							value="&lt;span class='#{dayClass}'&gt;&lt;span class='weekDay'&gt;#{of:formatDate(day, 'EE')}&lt;/span&gt;
									&lt;span class='dayNumber'&gt;#{of:formatDate(day, 'd')}&lt;/span&gt;
									&lt;span class='month'&gt;#{of:formatDate(day, 'MMM')}&lt;/span&gt;
									&lt;/span&gt;"/>					
					<lcg:column headerText="#{header}" colWidth="50"
							value="#{(row.get(day) != null and hoursRow) ? row.get(day).quantity : row.get(day)}"
							comment="#{(row.get(day) != null and hoursRow) ? row.get(day).comment : null}"																					
							readonlyCell="#{!row.getProject().allowEmployeeReportTime or !row.existsHours(day) or row.get(day).approved or !row.project.isActiveOn(day)
											or timesheetBean.isReadOnlyCell(row.get(day))}"
							styleClass="#{totalRow ? 'totalsRow' : ''} #{hoursRow ? timesheetBean.getStyleClass(row.get(day)) : ''}"/>
				</c:forEach>														     						
			</lcg:sheet>
		</h:form>
    </ui:define>
</ui:composition>