<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:rich="http://richfaces.org/rich"
	xmlns:arttime="http://java.sun.com/jsf/composite/components">
	
	<rich:toolbar styleClass="toolBar">
		<rich:toolbarGroup location="left" rendered="#{topBar}">			
			<h:panelGroup rendered="#{topBar}">				
				<arttime:advancedPeriodSelector selector="#{filterBean.currentFilter.rangePeriodSelector}"/>
				<p:commandButton value="#{messages['button.apply']}"
		   				actionListener="#{timesheetBean.resetData()}"
		   				styleClass="avoidChangeTracking"		   				
		   				ajax="false"/>
		   	</h:panelGroup>			
		</rich:toolbarGroup>
		
		<rich:toolbarGroup location="right">
			<p:commandButton value="#{messages['button.save']}" 
					onclick="document.getElementById('timesheetForm:saveButton').click(); return false;"
					icon="saveIcon"
					styleClass="avoidChangeTracking avoidChangesConfirmation"/>
		</rich:toolbarGroup>
	</rich:toolbar>				
</ui:composition>	