<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui"		
	template="/layout/template.xhtml">

	<ui:define name="titleHead">#{messages['createProject.title']}</ui:define>
	
	<ui:define name="titleBody">#{messages['createProject.title']}</ui:define>
	
	<ui:define name="content">
		<h:form prependId="false">	
			<ui:include src="/pages/project/toolbar/createProject.xhtml"/>
			
			<h2>#{messages['project.label.details']}</h2>
	   		<ui:include src="/pages/project/projectDetails.xhtml">
	   			<ui:param name="project" value="#{projectBean.project}" />
	   			<ui:param name="isNewProject" value="true" />
	   		</ui:include>
	   		    	
	   		<h2>#{messages['project.label.importSettings']}</h2>
	   		<ui:include src="/pages/project/importSettings.xhtml">
	   			<ui:param name="project" value="#{projectBean.project}" />
	   		</ui:include>
	   		
	   		<h2>#{messages['projects.label.projectTeam']}</h2>
	   		<ui:include src="/pages/project/projectTeam.xhtml">
	   			<ui:param name="project" value="#{projectBean.project}" />
	   		</ui:include>
   		
   			<ui:include src="/pages/project/toolbar/createProject.xhtml"/>
   		</h:form>
	</ui:define>			
    
</ui:composition>