<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:lcg="http://www.lassitercg.com/jsf"		
	xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	template="/layout/template.xhtml">				
		
	<ui:define name="titleHead">		
		<h:outputFormat value="#{messages['editProject.title']}" >
			<f:param value="#{projectBean.project.code}"/>
		</h:outputFormat>			
	</ui:define>
	
	<ui:define name="titleBody">		
		<h:outputFormat value="#{messages['editProject.title']}" >
			<f:param value="#{projectBean.project.code}"/>
		</h:outputFormat>			
	</ui:define>
		
    <ui:define name="content">
    	<h:form prependId="false">
    		<ui:include src="/pages/project/toolbar/editProject.xhtml">
    			<ui:param name="topBar" value="true"/>
    		</ui:include>
    		
	    	<c:set var="project" value="#{projectBean.project}"/>
	    	<h:panelGroup id="projectPanel" style="max-width:1000px;" layout="block">    
		    	<h:panelGroup rendered="#{projectBean.selectedTab == 'team'}">    	    	    	    	  		    		  
					<ui:include src="/pages/project/projectTeam.xhtml">
					   	<ui:param name="project" value="#{project}" />	    		
					</ui:include>
				</h:panelGroup>					    	    	    		    		   		       
				
				<h:panelGroup rendered="#{projectBean.selectedTab == 'details'}">    	    	    	    	  		    		  
					<ui:include src="/pages/project/projectDetails.xhtml">
					   	<ui:param name="project" value="#{project}" />	    		
					   	<ui:param name="isNewProject" value="false" />
					</ui:include>
				</h:panelGroup>
				
				<h:panelGroup rendered="#{projectBean.selectedTab == 'importSettings'}">    	    	    	    	  		    		  
					<ui:include src="/pages/project/importSettings.xhtml">
					   	<ui:param name="project" value="#{project}" />				   		    	
					</ui:include>
				</h:panelGroup>

                <h:panelGroup rendered="#{projectBean.selectedTab == 'statuses'}">
                    <ui:include src="/pages/project/projectStatuses.xhtml">
                        <ui:param name="project" value="#{project}"/>
                    </ui:include>
                </h:panelGroup>
			</h:panelGroup>
			
			<ui:include src="/pages/project/toolbar/editProject.xhtml"/>
		</h:form>
    </ui:define>
</ui:composition>