<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:rich="http://richfaces.org/rich" >
	
	<c:set var="teamTrackingSystemName" value="LDAP"/>

    <h:outputFormat value="#{messages['project.warning.teamImport.currentSettings']}" styleClass="warning">
        <f:param value="#{settingsBean.settings.timerHoursInterval}"/>
        <f:param value="#{settingsBean.settings.timerMinutesInterval}"/>
        <f:param value="#{scheduler.timeRemaining.toHours()}"/>
        <f:param value="#{scheduler.timeRemaining.toMinutes() - (scheduler.timeRemaining.toHours() * 60)}"/>
    </h:outputFormat>

	<h2>
		<h:outputFormat value="#{messages['project.importSettings.label.projectTeam']}">
			<f:param value="#{teamTrackingSystemName}"/>
		</h:outputFormat>
	</h2>

	<h:panelGrid columns="3" styleClass="panelGrid">
		<p:selectOneMenu id="teamFilterType" 
				value="#{project.teamFilter.filterType}" 
				required="true" onchange="setWindowUnloadMessage()">
			<f:selectItem itemValue="DISABLED" itemLabel="#{messages['project.label.teamImport.disabled']}"/>
			<f:selectItem itemValue="PROJECT_CODES" itemLabel="#{messages['project.label.teamImport.codesInTeamTrackingSystem']}" />
			<f:selectItem itemValue="NATIVE" itemLabel="#{messages['project.label.teamImport.nativeFilter']}" />
			<f:ajax event="change" render="teamFilterValueGroup teamFilterMessage" execute="@this"/>
		</p:selectOneMenu>
		<h:panelGroup id="teamFilterValueGroup">
			<p:inputText id="teamFilterValue" value="#{project.teamFilter.value}"
					rendered="#{project.teamFilter.filterType != 'DISABLED'}"
					required="true" maxlength="255">
			</p:inputText>
		</h:panelGroup>
		<p:message id="teamFilterMessage" for="teamFilterValue"/>
	</h:panelGrid>
						
</ui:composition>	