<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j" xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk">
	
	<rich:graphValidator value="#{projectStatusBean.project}" id="projectStatusesValidator">
		<rich:dataTable value="#{projectStatusBean.project.statuses}"
			var="projectStatus" id="projectSatusesTable">
			<rich:column>
				<f:facet name="header">#{messages['projectStatuses.column.status']}</f:facet>
                #{messages[projectStatus.status]}
            </rich:column>
			<rich:column sortBy="#{projectStatus.startAt}" sortOrder="ascending"
				style="width:50%;">
				<f:facet name="header">#{messages['projectStatuses.column.validFrom']}</f:facet>
				<h:outputText value="#{projectStatus.startAt}">
					<f:convertDateTime dateStyle="medium" />
				</h:outputText>
			</rich:column>
			<rich:column>
				<f:facet name="header">
            		#{messages['projectStatuses.column.action']}
            	</f:facet>
				<p:commandButton value="#{messages['button.delete']}"
					action="#{projectStatusBean.delete(projectStatus)}"
					onclick="if(! confirm('#{messages['label.confirm.delete']}')) { return false; };"
                        update="projectSatusesTable"
                        styleClass="invisibleBorder"
					icon="deleteIcon" />
				
			</rich:column>
		</rich:dataTable>
	</rich:graphValidator>
	
	<a4j:region>
		<t:subform id="addProjectStatusSubform">
			<h:panelGrid columns="3" id="newProjectStatus" styleClass="panelGrid">
				<c:set var="newProjectStatus"
					value="#{projectStatusBean.projectStatus}" />
				<p:selectOneMenu id="newStatus" value="#{newProjectStatus.status}"
					required="true">
					<f:selectItem itemLabel="" itemValue="#{null}" />
					<f:selectItems value="#{projectStatusBean.statuses}" var="status"
						itemLabel="#{messages[status]}" />
				</p:selectOneMenu>
				<p:calendar id="validFrom" value="#{newProjectStatus.startAt}"
					required="true" />
				<p:commandButton action="#{projectStatusBean.addStatus()}"
					value="#{messages['projectStatuses.button.add']}"
					update="newProjectStatus, @form:projectSatusesTable"
					process="addProjectStatusSubform" />
				<p:message for="newStatus" />
				<p:message for="validFrom" />
			</h:panelGrid>
		</t:subform>
	</a4j:region>
	<p:growl for="projectStatusesValidator" autoUpdate="true"/>
</ui:composition>