<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:t="http://myfaces.apache.org/tomahawk" 
	xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"	
	xmlns:o="http://omnifaces.org/ui" 
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">	
	
		
	<h2>#{messages['projectTeam.label.newMember']}</h2>
	<a4j:region>	
		<t:subform id="newParticipationSubform">			
			<h:panelGrid id="newParticipation" columns="5"
				styleClass="panelGrid">
				<c:set var="newParticipation" value="#{projectBean.participation}"/>
				<p:outputLabel for="employee" value="#{messages['projectTeam.label.employee']}"/>
				<p:outputLabel for="from" value="#{messages['projectTeam.label.participation.from']}"/>
				<p:outputLabel for="till" value="#{messages['projectTeam.label.participation.till']}"/>
				<p:outputLabel for="calendar" value="#{messages['projectTeam.label.calendar']}"/>
				<p:spacer/>
				
				<p:autoComplete id="employee" 
					value="#{newParticipation.employee}" 
					completeMethod="#{employeeService.findEmployeesByFullName}"
					var="employee" itemValue="#{employee}" itemLabel="#{employee.fullName}"
					dropdown="true" forceSelection="true"
					cache="true" scrollHeight="150" required="true"
					effect="fade">
					<o:converter converterId="omnifaces.ListConverter" list="#{employeeService.employees}" />
				</p:autoComplete>
										
				<p:calendar id="from" 
						value="#{newParticipation.period.start}" 
						required="true" 
						styleClass="calendar"/>
				<p:calendar id="till" 
						value="#{newParticipation.period.finish}"
						styleClass="calendar"
						validator="periodValidator">
					<f:attribute name="start" value="newParticipationSubform:from"/>
				</p:calendar>				
				<p:selectOneMenu id="calendar" value="#{newParticipation.workdaysCalendar}" 
						converter="omnifaces.SelectItemsConverter"
						required="true">
					<f:selectItem itemLabel="" itemValue="#{null}"/>
					<f:selectItems value="#{workdaysCalendarRepository.workdaysCalendars}" 
							var="workdayCalendar" itemLabel="#{workdayCalendar.name}"/>						
				</p:selectOneMenu>
				<p:commandButton value="#{messages['projectTeam.button.addMember']}" 
						action="#{projectBean.addNewParticipation()}"
						process="newParticipationSubform"
						update="newParticipation,@form:projectTeam">					
				</p:commandButton>
					
				<p:message for="employee"/>				
				<p:message for="from"/>
				<p:message for="till"/>
				<p:message for="calendar"/>
				<p:spacer/>
			</h:panelGrid>
		</t:subform>		
	</a4j:region>
		
	<h2>#{messages['projectTeam.label.projectTeam']}</h2>
		
	<rich:dataTable id="projectTeam" 
			var="participation" 
			value="#{project.team}" 
			noDataLabel="#{messages['warning.datatable.empty']}"
			sortMode="multi" rowKeyVar="rowKey">

		<c:set var="employee" value="#{participation.employee}"/>
		<c:set var="isFirstParticipation" value="#{project.getFirstParticipation(employee) == participation}"/>				
		<c:set var="isLastParticipation" value="#{project.getLastParticipation(employee) == participation}"/>
		<rich:column id="name" sortBy="#{participation.employee.fullName}" sortOrder="ascending" styleClass="#{isLastParticipation ? '' : 'hiddenBottomBorder'}">			
			<f:facet name="header">#{messages['projectTeam.column.employee']}</f:facet>			
			#{isFirstParticipation ? participation.employee.fullName : ''}
		</rich:column>
				
		<rich:column id="from" sortBy="#{participation.period.start}" sortOrder="ascending">
			<f:facet name="header">#{messages['projectTeam.column.from']}</f:facet>
			<p:calendar id="from_" value="#{participation.period.start}"
					styleClass="calendar invisibleBorder"
					required="true"/>
			<p:message for="from_" display="tooltip"/>
		</rich:column>
		<rich:column>
			<f:facet name="header">#{messages['projectTeam.column.till']}</f:facet>
			<p:calendar value="#{participation.period.finish}"
					styleClass="calendar invisibleBorder"
					validator="periodValidator">
				<f:attribute name="start" value="from_"/> 
			</p:calendar>

		</rich:column>
		<rich:column>
			<f:facet name="header">#{messages['projectTeam.column.calendar']}</f:facet>
			<p:selectOneMenu id="calendar" value="#{participation.workdaysCalendar}"
					required="true" converter="omnifaces.SelectItemsConverter" onchange="setWindowUnloadMessage()"
					styleClass="invisibleBorder">
				<f:selectItem itemLabel="" itemValue="#{null}"/>
				<f:selectItems value="#{workdaysCalendarRepository.workdaysCalendars}" 
						var="workdayCalendar" itemLabel="#{workdayCalendar.name}"/>						
			</p:selectOneMenu>
			<p:message for="calendar" display="tooltip"/>
		</rich:column>		
		<rich:column>
			<f:facet name="header">#{messages['projectTeam.column.action']}</f:facet>
			<p:commandButton value="#{messages['button.delete']}" 
					action="#{projectBean.delete(participation)}"
					update="projectTeam" process="@this"
					onstart="return confirm('#{messages['label.confirm.delete']}');"					
					styleClass="invisibleBorder"
					icon="deleteIcon"/>
		</rich:column>
	</rich:dataTable>
		
</ui:composition>	