<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:rich="http://richfaces.org/rich" xmlns:p="http://primefaces.org/ui"
	template="/layout/template.xhtml">
	
	<ui:define name="titleHead">#{messages['mainMemu.dictionaries']} / #{messages['projects.title']}</ui:define>
	
	<ui:define name="titleBody"><h:panelGroup>#{messages['mainMemu.dictionaries']}</h:panelGroup> / #{messages['projects.title']}</ui:define>
	
	<ui:define name="content">
		<h:form>
			<ui:include src="/pages/project/toolbar/projects.xhtml">
				<ui:param name="topBar" value="true"/>
			</ui:include>
				
	    	<c:set var="criteria" value="#{projectsSelectionCriteriaBean.criteria}"/>
	    	<rich:dataTable value="#{projectRepository.getProjects(criteria)}" var="project" id="projectTable" style="max-width:1280px;">
	   			<rich:column sortBy="#{project.code}" sortOrder="#{projectsBean.projectCodeOrder}">
	   				<f:facet name="header">
	   					<p:commandLink update="projectTable" action="#{projectsBean.sortByCode()}">
                            #{messages['projects.column.code']}
	   						<h:outputText value="" styleClass="#{projectsBean.projectCodeOrder == 'unsorted' ? 'unsorted_ico' 
	   								: (projectsBean.projectCodeOrder == 'ascending') ? 'unsorted_ico, asc_ico' : 'unsorted_ico, desc_ico'}" />
	   					</p:commandLink>
	   				</f:facet>
	   				<h:outputText value="#{project.code}"/>
	   			</rich:column>
	   			<rich:column>
	   				<f:facet name="header">#{messages['projects.column.description']}</f:facet>
	   				#{project.description}
	   			</rich:column>
	   			<rich:column sortBy="#{project.manager.fullName}" sortOrder="#{projectsBean.managerOrder}">
	   				<f:facet name="header">
	   					<p:commandLink update="projectTable" action="#{projectsBean.sortByManager()}">
                            #{messages['projects.column.manager']}
   							<h:outputText value="" styleClass="#{projectsBean.managerOrder == 'unsorted' ? 'unsorted_ico' 
	   								: (projectsBean.managerOrder == 'ascending') ? 'unsorted_ico, asc_ico' : 'unsorted_ico, desc_ico'}" />
	   					</p:commandLink>
	   				</f:facet>
					#{project.manager.fullName}    				
	   			</rich:column>
	   			<rich:column>   				
	   				<f:facet name="header">#{messages['projects.column.status']}</f:facet>
	   				#{messages[project.currentStatus]}	
	   			</rich:column>
	   			<rich:column>
	   				<f:facet name="header">#{messages['projects.column.action']}</f:facet>
	   				<p:button value="" 
	   						outcome="edit" includeViewParams="true"
	   						icon="editIcon"
	   						styleClass="avoidChangeTracking invisibleBorder">
	   					<f:param name="project" value="#{project.code}"/>
	   					<f:param name="selectedTab" value="team"/>
	   				</p:button>
	   				<p:commandButton value="#{messages['button.delete']}"	   				
	   						action="projects" actionListener="#{projectBean.remove(project)}"
	   						onclick="return confirm('#{messages['label.confirm.delete']}');"
		   					icon="deleteIcon"	 
	   						styleClass="avoidChangeTracking invisibleBorder"/> 
	   			</rich:column>
	   		</rich:dataTable>
	   		
	   		<ui:include src="/pages/project/toolbar/projects.xhtml"/>
	   	</h:form>    		    		    	
    </ui:define>
</ui:composition>