<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j" 
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui">
	
	<h:panelGrid columns="3" styleClass="panelGridDetails">			
		<p:outputLabel for="code" value="#{messages['projectDetails.label.code']}:"/>
    	<p:inputText id="code" value="#{project.code}" maxlength="255" required="true"/>
    	<p:message for="code"/>
    	    	
    	<p:outputLabel for="description" value="#{messages['projectDetails.label.description']}:"/>
    	<p:inputTextarea id="description" value="#{project.description}" cols="30" rows="5" maxlength="1000"/>
    	<p:message for="description"/>
    	
    	<p:outputLabel for="manager" value="#{messages['projectDetails.label.manager']}:"/>
		<p:autoComplete id="manager" 
					value="#{project.manager}"
					completeMethod="#{employeeService.findEmployeesByFullName}"
					var="employee" itemValue="#{employee}" itemLabel="#{employee.fullName}"
					dropdown="true" forceSelection="true"
					cache="true" scrollHeight="150" required="true"
					effect="fade">
			<o:converter converterId="omnifaces.ListConverter" list="#{employeeService.employees}" />
		</p:autoComplete>
		<p:message for="manager"/>
		
    	<p:outputLabel for="defaultCalendar" value="#{messages['projectDetails.label.defaultCalendar']}:"/>
    	<p:selectOneMenu id="defaultCalendar" value="#{project.defaultWorkdaysCalendar}"
    			converter="omnifaces.SelectItemsConverter" onchange="setWindowUnloadMessage()"
    			required="true">
			<f:selectItem itemLabel="" itemValue="#{null}"/>
			<f:selectItems value="#{workdaysCalendarRepository.workdaysCalendars}" var="workdayCalendar" itemLabel="#{workdayCalendar.name}"/>						
		</p:selectOneMenu>
    	<p:message for="defaultCalendar"/>
    	    	
    	<p:outputLabel value="#{messages['projectDetails.label.status']}:" rendered="#{not isNewProject}"/>
        <h:outputText value="#{messages[project.currentStatus]}" rendered="#{not isNewProject}"/>
		<p:spacer rendered="#{not isNewProject}"/>
		
		<p:outputLabel for="newStatus" value="#{messages['projectDetails.label.status']}:" rendered="#{isNewProject}"/>
		<p:selectOneMenu id="newStatus"
			value="#{project.firstProjectStatus.status}" 
			required="true" rendered="#{isNewProject}">
			<f:selectItems value="#{projectStatusBean.statuses}" 
				var="status" itemLabel="#{messages[status]}"/>
		</p:selectOneMenu>
		<p:message for="newStatus" rendered="#{isNewProject}"/>
		
		<p:outputLabel for="startFrom" value="#{messages['projectDetails.label.statusValidFrom']}:" rendered="#{isNewProject}"/>
		<p:calendar id="startFrom" value="#{project.firstProjectStatus.startAt}" required="true" rendered="#{isNewProject}"/>				
		<p:message for="startFrom" rendered="#{isNewProject}"/>
    	
		<p:outputLabel for="accountableHours" value="#{messages['projectDetails.label.accauntableHours']}:"/>
		<p:selectManyCheckbox id="accountableHours" value="#{project.accountableHours}" 
				layout="pageDirection" collectionType="java.util.ArrayList" 
				converter="omnifaces.SelectItemsConverter"
				required="true">
			<f:selectItems value="#{hourTypeRepository.all}" var="hourType" itemLabel="#{hourType.type}"/>
		</p:selectManyCheckbox>
		<p:message for="accountableHours"/>
    	
    	<p:outputLabel for="allowEmployeeReportTime" value="#{messages['projectDetails.label.allowEmployeeReportTime']}:"/>
    	<p:selectBooleanCheckbox id="allowEmployeeReportTime" value="#{project.allowEmployeeReportTime}"/>
    	<p:message for="allowEmployeeReportTime"/>    	
	</h:panelGrid>
</ui:composition>	