<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui">
	
	<script>
		$(document).ready(function() {					
			$(document).delegate('.ui-datepicker-prev', 'click', function() {
				prevMonth();												
			});
			$(document).delegate('.ui-datepicker-next', 'click', function() {
				nextMonth();											
			});					
		});
		
		function highlightDaysOff(date){						
			var days = document.getElementById('calendarForm:inputDaysOff').value;				 					
			var daysOff = days.split(',');
			var day=date.getDate();
	        var month = date.getMonth()+1;
	        var year = date.getFullYear();
	        var value =  day+'-'+month+'-'+year;			        					
			for (var i=0; i &#60; daysOff.length; i++){						
				if (value === daysOff[i]) {
		        	return [true, 'calendarNonWorkingDay'];
		        }
			}
			return [true, ''];
		}
	</script>			
	<p:remoteCommand name="prevMonth" action="#{workdaysCalendarBean.prevMonth()}" update="inputDaysOff"/>
	<p:remoteCommand name="nextMonth" action="#{workdaysCalendarBean.nextMonth()}" update="inputDaysOff"/>						
	<h:inputHidden id="inputDaysOff" value="#{workdaysCalendarBean.daysOff}"/>
		
	<h:panelGrid columns="3" styleClass="panelGridDetails">
		<p:outputLabel for="name" value="#{messages['calendar.label.name']}:"/>
    	<p:inputText id="name" value="#{calendar.name}" maxlength="255" required="true"/>
    	<p:message for="name"/>
			
		<h:outputText value="#{messages['editCalendar.label.notWorkingDays']}" rendered="#{showCalendar}"/>									
		<h:panelGrid columns="1" styleClass="worktimeCalendarContainer" rendered="#{showCalendar}">
			<p:calendar id="calendar" value="#{workdaysCalendarBean.selectedDate}"
					mode="inline"
					beforeShowDay="highlightDaysOff"
					styleClass="calendar">
					<p:ajax event="dateSelect" listener="#{workdaysCalendarBean.onDateSelect}" update="inputDaysOff @this"/>						
			</p:calendar>			
			<h:panelGroup>					
				<h:panelGroup styleClass="dayOff"/>										
				<h:outputText value=" - #{messages['editCalendar.label.dayOff']}" />
			</h:panelGroup>				
		</h:panelGrid>
		<h:panelGroup/>
			    	    	    	
	</h:panelGrid>									
</ui:composition>	