<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:p="http://primefaces.org/ui"		
	template="/layout/template.xhtml">

	<ui:define name="titleHead">
		#{messages['mainMemu.dictionaries']} / #{messages['calendars.title']}
	</ui:define>
	
	<ui:define name="titleBody">
		<h:panelGroup>#{messages['mainMemu.dictionaries']}</h:panelGroup> / #{messages['calendars.title']}
	</ui:define>
	
	<ui:define name="content">
		<h:form>						
			<ui:include src="/pages/calendar/toolbar/calendars.xhtml"/>
			
			<rich:dataTable id="calendarsTable" value="#{workdaysCalendarRepository.workdaysCalendars}" var="workdaysCalendar" style="max-width:1000px;">
	   			<rich:column sortBy="#{workdaysCalendar.name}" sortOrder="ascending" style="width:80%;">
	   				<f:facet name="header">#{messages['calendars.column.name']}</f:facet>
	   				<h:outputText value="#{workdaysCalendar.name}"/>	   				
	   			</rich:column>
	   			<rich:column>
	   				<f:facet name="header">#{messages['calendars.column.action']}</f:facet>
	   				<p:button value="" 
	   					outcome="edit" 
	   					includeViewParams="true"
	   					icon="editIcon"
	   					styleClass="avoidChangeTracking invisibleBorder">
	   					<f:param name="calendar" value="#{workdaysCalendar.id}"/>
	   				</p:button>
	   				<p:commandButton value="#{messages['button.delete']}"
	   						action="calendars" actionListener="#{workdaysCalendarBean.remove(workdaysCalendar)}"
	   						onclick="return confirm('#{messages['label.confirm.delete']}');" 
	   						styleClass="avoidChangeTracking invisibleBorder"
	   						ajax="false"
	   						icon="deleteIcon"/> 
	   			</rich:column>
	   		</rich:dataTable>
	   		
	   		<ui:include src="/pages/calendar/toolbar/calendars.xhtml"/>						
		</h:form>
	</ui:define>		
</ui:composition>