<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"		
	template="/layout/template.xhtml">

	<ui:define name="titleHead">		
		#{messages['createCalendar.title']}
	</ui:define>
	
	<ui:define name="titleBody">		
		#{messages['createCalendar.title']}
	</ui:define>
	
	<ui:define name="content">
		<h:form>
			<ui:include src="/pages/calendar/toolbar/createCalendar.xhtml"/>
		
			<ui:include src="/pages/calendar/calendar.xhtml">
				<ui:param name="calendar" value="#{workdaysCalendarBean.workdaysCalendar}"/>
				<ui:param name="showCalendar" value="false"/>
			</ui:include>
			
			<ui:include src="/pages/calendar/toolbar/createCalendar.xhtml"/>
		</h:form>
	</ui:define>			
</ui:composition>