<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"		
	template="/layout/template.xhtml"
                xmlns:p="http://primefaces.org/ui">
	
	<ui:define name="titleHead">
		<h:outputFormat value="#{messages['editWorkload.title']}">
			<f:param value="#{workloadsBean.employee.fullName}"/>
		</h:outputFormat>
	</ui:define>
	
	<ui:define name="titleBody">
		<h:outputFormat value="#{messages['editWorkload.title']}">
			<f:param value="#{workloadsBean.employee.fullName}"/>
		</h:outputFormat>
	</ui:define>		
	
    <ui:define name="content">
    	<h:form>
	    	<ui:include src="/pages/workload/toolbar/editWorkload.xhtml"/>
	    
	  		<h:panelGrid columns="3" styleClass="panelGridDetails">
	  			<h:outputText value="#{messages['editWorkload.label.employee']}:"/>
	  			<h:outputText value="#{workloadsBean.employee.fullName}" />
	  			<p:spacer/>
	  			
	  			<p:outputLabel for="workload" value="#{messages['editWorkload.label.workload']}:"/>
	  			<p:spinner id="workload" value="#{workloadsBean.employee.workLoad}" min="0" max="100" required="true"/>
	  			<p:message for="workload"/>
	  		</h:panelGrid>
	  		
	  		<ui:include src="/pages/workload/toolbar/editWorkload.xhtml"/>
	  	</h:form>  		
    </ui:define>
</ui:composition>