<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:p="http://primefaces.org/ui"		
	template="/layout/template.xhtml">
	
	<ui:define name="titleHead">#{messages['mainMemu.dictionaries']} / #{messages['workloads.title']}</ui:define>
	
	<ui:define name="titleBody"><h:panelGroup>#{messages['mainMemu.dictionaries']}</h:panelGroup> / #{messages['workloads.title']}</ui:define>
	
	<ui:define name="content">
		<h:form>
			<rich:toolbar styleClass="toolBar">
				<rich:toolbarGroup location="left">
					<p:inputText value="#{employeeSearchCriteriaBean.searchQuery}"
							placeholder="#{messages['input.placeholder.search']}" 
							styleClass="avoidChangeTracking searchInput"/>
					<p:commandButton action="search" 
							value=""				 
							styleClass="avoidChangeTracking avoidChangesConfirmation searchButton"
							ajax="false">			
					</p:commandButton>			
				</rich:toolbarGroup>
			</rich:toolbar>	
		
			<rich:dataTable value="#{workloadsBean.employees}" var="employee" style="max-width:1000px;">
	  			<rich:column sortBy="#{employee.fullName}" sortOrder="ascending">
	  				<f:facet name="header">#{messages['workloads.column.employee']}</f:facet>
	  				#{employee.fullName}
	  			</rich:column>
	  			
	  			<rich:column style="width:50%;">
	  				<f:facet name="header">#{messages['workloads.column.workload']}</f:facet>
	  				#{employee.workLoad}
	  			</rich:column>
	  			
	  			<rich:column>
	  				<f:facet name="header">#{messages['workloads.column.action']}</f:facet>
	  				<p:button outcome="edit"
	  						icon="editIcon" 
	  						value=""	  						
	  						styleClass="avoidChangeTracking avoidChangesConfirmation invisibleBorder">
	  					<f:param name="employee" value="#{employee.userName}"/>
	  				</p:button>
	  			</rich:column>
	  		</rich:dataTable>	  			  		
		</h:form>
	</ui:define>		
</ui:composition>