<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:p="http://primefaces.org/ui" xmlns:rich="http://richfaces.org/rich">
	
	<rich:toolbar styleClass="toolBar">
		<rich:toolbarGroup location="right">
			<p:commandButton value="#{messages['calendars.button.addNew']}" 
					action="addNew" 
					styleClass="avoidChangeTracking"
					ajax="false"
					icon="newIcon"/>			
		</rich:toolbarGroup>
	</rich:toolbar>				
</ui:composition>	