<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:head>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		</f:facet>
		<link href="#{facesContext.externalContext.requestContextPath}/stylesheet/styles.css" rel="stylesheet" type="text/css" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />
		<link rel="shortcut icon" href="#{request.contextPath}/img/favicon.ico" />
		<title>#{messages['login.title']} - ART-TIME</title>
	</h:head>

	<h:body styleClass="loginPage">				
		<h:panelGroup styleClass="loginWrapper" layout="block">
			<h1></h1>
		    <h:panelGroup styleClass="loginBox" layout="block">
				<h3>#{messages['login.title']}</h3>	      	
		      	<h:panelGroup styleClass="loginForm" layout="block">
		          	<h:form>
		          		<p:tooltip />		          			          	
			          	<ul>
			              	<li>
								<p:outputLabel value="#{messages['login.label.username']}" />
								<p:inputText id="username" value="#{loginBean.username}" required="true" maxlength="255"/>
								<p:message for="username"/>					
			              	</li>
			              	<li>
			              		<p:outputLabel value="#{messages['login.label.password']}" />								
								<p:password id="password" value="#{loginBean.password}" required="true" maxlength="255"/>									
								<p:message for="password"/>
							</li>
			              	<li>
			              		<h:panelGrid columns="2">
				              		<h:selectBooleanCheckbox id="remember" value="#{loginBean.rememberMe}"/>
				              		<p:outputLabel for="remember" value="#{messages['login.label.remember']}"/>
			              		</h:panelGrid>		              				              		
			              	</li>
			              	<li>			              					              		
				              	<p:commandButton value="#{messages['button.login']}"
				              			action="#{loginBean.login()}"
				              			styleClass="loginBtn icon-enter"
				              			ajax="false"/>				              	
			              	</li>			              	
			           	</ul>
		          	</h:form>
		      	</h:panelGroup>
		   	</h:panelGroup>
		</h:panelGroup>
		<p:growl id="growl" autoUpdate="false" globalOnly="true" />
	</h:body>					
</html>