<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
        xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
        xmlns:h="http://java.sun.com/jsf/html" xmlns:o="http://omnifaces.org/ui"
        xmlns:p="http://primefaces.org/ui" contentType="text/html">
    <html>
    <h:head>
        <title>#{messages['error.browser.notSupported']} - ART-TIME</title>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        </f:facet>
        <link href="#{facesContext.externalContext.requestContextPath}/stylesheet/styles.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />
        <link rel="shortcut icon" href="#{request.contextPath}/img/favicon.ico" />
    </h:head>

    <h:body>
        <h:panelGrid columns="4" styleClass="navigationPanel">
            <h:panelGroup layout="block" styleClass="logoStatus">
                <h:graphicImage value="/img/staticLogo.gif"/>
            </h:panelGroup>
            <rich:toolbar itemSeparator="line">
                <rich:toolbarGroup>
                    <h:outputText value="" styleClass="menuSeparatorRight"/>
                </rich:toolbarGroup>
            </rich:toolbar>
        </h:panelGrid>

        <h:panelGroup id="titleBody">
            <div class="titleBody"></div>
        </h:panelGroup>

        <h:panelGroup id="container">
            <h:outputText value="#{messages['error.browser.notSupported']}" id="errorHeading"/>

            <h:outputText value="#{messages['error.browser.supported.list']}:"/>
            <o:importFunctions type="com.artezio.arttime.web.filters.CheckSupportedBrowsersFilter" var="arttime"/>
            <p:dataList value="#{arttime:getMinimumBrowserVersions().entrySet().toArray()}" var="versionEntry">
                #{versionEntry.key.getName()} >= #{versionEntry.value}
            </p:dataList>
        </h:panelGroup>
    </h:body>
    </html>
</f:view>