<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:c="http://java.sun.com/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:lcg="http://www.lassitercg.com/jsf"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:arttime="http://java.sun.com/jsf/composite/components"
                template="/layout/template.xhtml">

    <ui:define name="titleHead">
        #{messages['notifications.title']}
    </ui:define>
    
    <ui:define name="titleBody">
        <ui:include src="/pages/filterSaveAsToolbar.xhtml">
				<ui:param name="title" value="#{messages['notifications.title']}"/>
		</ui:include>
    </ui:define>

    <ui:define name="content">
    	<h:form id="workTimeProblemNotification">
	    	<h:outputScript name="resizeTableContainer.js" library="js"/>
		
	    	<ui:include src="/pages/periodSelector.xhtml">
	    		<ui:param name="update" value="workTimeProblemNotification:filterContainer"/>
	    	</ui:include>
			
	        <p:layout id="fullPage" style="height:700px;">
	            <p:layoutUnit position="west" size="270" styleClass="westLayoutPanel">
                    <ui:include src="/pages/filter.xhtml">
                        <ui:param name="showHourTypesSelector" value="false"/>
                        <ui:param name="itemBean" value="#{filterBean}"/>
						<ui:param name="itemAction" value="setCurrentFilter"/>
                    </ui:include>
            	</p:layoutUnit>

	            <p:layoutUnit position="center">
                	<h:panelGrid columns="2" styleClass="outputForm">                		
                		<h:outputText value="#{messages['notifications.label.actualHourType']}:"/>                		                		
                		<h:outputText value="#{hourTypeRepository.findActual().type}" />                		
                	</h:panelGrid>

                    <c:set var="filter" value="#{filterBean.currentFilter}"/>
                    <p:dataTable id="problemEmployees"
                    			 var="employee" rowKey="#{employee}"
                                 selection="#{notificationsBean.selectedEmployees}"
                                 value="#{notificationsBean.getEmployees(filter)}"
                                 styleClass="pfDataTable rf-dt">

                        <p:column selectionMode="multiple"/>
                        <p:column headerText="#{messages['notifications.label.employee']}">
                            <h:outputText value="#{employee.lastName} #{employee.firstName}"/>
                        </p:column>
                        <p:column headerText="#{messages['notifications.label.timeProblem']}">
                            <h:outputText value="#{notificationsBean.employeesProblemTime[employee]}"/>
                        </p:column>
                    </p:dataTable>
					
					<h:panelGrid columns="2" styleClass="commentInput" width="100%">
						<p:outputLabel for="comment" value="#{messages['notifications.label.comment']}:"/>
						<p:inputTextarea id="comment" value="#{notificationsBean.comment}"/>	
					</h:panelGrid>                    
					
					<rich:toolbar styleClass="toolBar">
						<rich:toolbarGroup location="right">
							<p:commandButton value="#{messages['notifications.button.sendNotification']}"
		                            action="#{notificationsBean.sendNotifications(filter.period)}"
		                            styleClass="avoidChangeTracking avoidChangesConfirmation"
		                            ajax="false"/>						
						</rich:toolbarGroup>
					</rich:toolbar>
	            </p:layoutUnit>
    	    </p:layout>
		</h:form>
    </ui:define>
</ui:composition>