<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:rich="http://richfaces.org/rich">
	
	<h2>LDAP</h2>

	<h:panelGrid columns="3" styleClass="panelGridDetails">
		<p:outputLabel for="ldapServerAddress"
			value="#{messages['ldap.serverAddress.label']}" />
		<h:inputText id="ldapServerAddress"
			value="#{settingsBean.settings.ldapServerAddress}" 
			title="#{messages['ldap.serverAddress.description']}"/>
		<h:message for="ldapServerAddress" />		

		<p:outputLabel for="ldapServerPort"
			value="#{messages['ldap.serverPort.label']}" />
		<h:inputText id="ldapServerPort"
			value="#{settingsBean.settings.ldapServerPort}" 
			title="#{messages['ldap.serverPort.description']}"/>
		<h:message for="ldapServerPort" />		

		<p:outputLabel for="ldapBindDN"
			value="#{messages['ldap.bindDN.label']}" />
		<h:inputText id="ldapBindDN"
			value="#{settingsBean.settings.ldapBindDN}" 
			title="#{messages['ldap.bindDN.description']}"/>
		<h:message for="ldapBindDN" />		

		<p:outputLabel for="ldapBindCredentials"
			value="#{messages['ldap.bindCredentials.label']}" />
		<p:password id="ldapBindCredentials" 
			value="#{settingsBean.settings.ldapBindCredentials}" 
			match="ldapBindCredentialsConfirm" 
			redisplay="true" 
			title="#{messages['ldap.bindCredentials.description']}"/>
		<h:message for="ldapBindCredentials" />		

		<p:outputLabel for="ldapBindCredentialsConfirm"
			value="#{messages['ldap.bindCredentialsConfirm.label']}" />
		<p:password id="ldapBindCredentialsConfirm" 
        	value="#{settingsBean.settings.ldapBindCredentials}" 
        	redisplay="true" 
        	title="#{messages['ldap.bindCredentialsConfirm.description']}"/>
		<h:message for="ldapBindCredentialsConfirm" />		
			
		<p:outputLabel for="ldapUserContextDN"
			value="#{messages['ldap.userContextDN.label']}" />
		<h:inputText id="ldapUserContextDN"
			value="#{settingsBean.settings.ldapUserContextDN}" 
			title="#{messages['ldap.userContextDN.description']}"/>
		<h:message for="ldapUserContextDN" />		
			
		<p:outputLabel for="ldapPrincipalSuffix" value="#{messages['ldap.principalSuffix.label']}" />
		<h:inputText id="ldapPrincipalSuffix"
				value="#{settingsBean.settings.ldapPrincipalSuffix}" 
				title="#{messages['ldap.principalSuffix.description']}"/>
		<h:message for="ldapPrincipalSuffix" />					
				
		<p:outputLabel for="ldapCommonNameAttribute" value="#{messages['ldap.commonNameAttribute.label']}" />
		<h:inputText id="ldapCommonNameAttribute"
				value="#{settingsBean.settings.ldapCommonNameAttribute}" 
				title="#{messages['ldap.commonNameAttribute.description']}"/>
		<h:message for="ldapCommonNameAttribute" />						

		<p:outputLabel for="ldapUserNameAttribute"
			value="#{messages['ldap.userNameAttribute.label']}" />
		<h:inputText id="ldapUserNameAttribute"
			value="#{settingsBean.settings.ldapUserNameAttribute}" 
			title="#{messages['ldap.userNameAttribute.description']}"/>
		<h:message for="ldapUserNameAttribute" />		

		<p:outputLabel for="ldapMailAttribute"
			value="#{messages['ldap.mailAttribute.label']}" />
		<h:inputText id="ldapMailAttribute"
			value="#{settingsBean.settings.ldapMailAttribute}" 
			title="#{messages['ldap.mailAttribute.description']}"/>
		<h:message for="ldapMailAttribute" />
		
		<p:outputLabel for="ldapFirstNameAttribute"
			value="#{messages['ldap.firstNameAttribute.label']}" />
		<h:inputText id="ldapFirstNameAttribute"
			value="#{settingsBean.settings.ldapFirstNameAttribute}" 
			title="#{messages['ldap.firstNameAttribute.description']}"/>
		<h:message for="ldapFirstNameAttribute" />		

		<p:outputLabel for="ldapLastNameAttribute"
			value="#{messages['ldap.lastNameAttribute.label']}" />
		<h:inputText id="ldapLastNameAttribute"
			value="#{settingsBean.settings.ldapLastNameAttribute}" 
			title="#{messages['ldap.lastNameAttribute.description']}"/>
		<h:message for="ldapLastNameAttribute" />		

		<p:outputLabel for="ldapDepartmentAttribute"
			value="#{messages['ldap.departmentAttribute.label']}" />
		<h:inputText id="ldapDepartmentAttribute"
			value="#{settingsBean.settings.ldapDepartmentAttribute}" 
			title="#{messages['ldap.departmentAttribute.description']}"/>
		<h:message for="ldapDepartmentAttribute" />		

		<p:outputLabel for="ldapEmployeeFilter"
			value="#{messages['ldap.employeeFilter.label']}" />
		<h:inputTextarea id="ldapEmployeeFilter"
			value="#{settingsBean.settings.ldapEmployeeFilter}" 
			title="#{messages['ldap.employeeFilter.description']}"/>
		<h:message for="ldapEmployeeFilter" />		

		<p:outputLabel for="ldapUserFilter"
			value="#{messages['ldap.userFilter.label']}" />
		<h:inputTextarea id="ldapUserFilter"
			value="#{settingsBean.settings.ldapUserFilter}" 
			title="#{messages['ldap.userFilter.description']}"/>
		<h:message for="ldapUserFilter" />		

		<p:outputLabel for="ldapGroupMemberFilter"
			value="#{messages['ldap.groupMemberFilter.label']}" />
		<h:inputTextarea id="ldapGroupMemberFilter"
			value="#{settingsBean.settings.ldapGroupMemberFilter}" 
			title="#{messages['ldap.groupMemberFilter.description']}"/>
		<h:message for="ldapGroupMemberFilter" />		

	</h:panelGrid>
</ui:composition>
