<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:lcg="http://www.lassitercg.com/jsf"
	xmlns:arttime="http://java.sun.com/jsf/composite/components"
	template="/layout/template.xhtml">

	<ui:define name="titleHead">
		<h:panelGroup>#{messages['mainMenu.settings']}</h:panelGroup> / #{messages['notification.title']}			
	</ui:define>
	
	<ui:define name="titleBody">
		#{messages['mainMenu.settings']} / #{messages['notification.title']}			
	</ui:define>

	<ui:define name="content">
		<h:form>
			<ui:include src="/pages/settings/toolbar/editSettings.xhtml"/>
			<h:panelGrid columns="3" styleClass="panelGridDetails">
			
				<p:outputLabel for="appUrl" value="#{messages['notification.baseurl.label']}" />
				<h:inputText id="appUrl" value="#{settingsBean.settings.applicationBaseUrl}" />
				<h:message for="appUrl"/>				
			
			</h:panelGrid>
			<ui:include src="/pages/settings/toolbar/editSettings.xhtml"/>
		</h:form>
	</ui:define>
</ui:composition>