<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:lcg="http://www.lassitercg.com/jsf"
	xmlns:arttime="http://java.sun.com/jsf/composite/components"
	template="/layout/template.xhtml">

	<ui:define name="titleHead">
		#{messages['mainMenu.settings']} / #{messages['security.title']}			
	</ui:define>
	
	<ui:define name="titleBody">
		<h:panelGroup>#{messages['mainMenu.settings']}</h:panelGroup> / #{messages['security.title']}			
	</ui:define>

	<ui:define name="content">
		<h:form>
			<ui:include src="/pages/settings/toolbar/editSettings.xhtml"/>
			
			<h:outputText value="#{messages['settings.security.description']}" 
					styleClass="warning" escape="false"/>
			
			<h:panelGrid columns="3" styleClass="panelGridDetails">				
				<p:outputLabel for="execUserRole"
						value="#{messages['security.userRoles.exec.label']}" />
				<h:inputText id="execUserRole"
						value="#{settingsBean.settings.execRoleMemberOf}" 
						title="#{messages['security.userRoles.exec.description']}"/>
				<h:message for="execUserRole" />				
					
				<p:outputLabel for="integrationClientGroups"
						value="#{messages['security.integrationClientGroups.label']}" />
				<h:inputText id="integrationClientGroups"
						value="#{settingsBean.settings.integrationClientGroups}" 
						title="#{messages['security.integrationClientGroups.description']}"/>
				<h:message for="integrationClientGroups" />				

			</h:panelGrid>
			
			<ui:include src="/pages/settings/toolbar/editSettings.xhtml"/>
		</h:form>
	</ui:define>
</ui:composition>