<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:lcg="http://www.lassitercg.com/jsf"
	xmlns:arttime="http://java.sun.com/jsf/composite/components"
	template="/layout/template.xhtml">

	<ui:define name="titleHead">
		#{messages['mainMenu.settings']} / #{messages['smtp.title']}			
	</ui:define>
	
	<ui:define name="titleBody">
		<h:panelGroup>#{messages['mainMenu.settings']}</h:panelGroup> / #{messages['smtp.title']}			
	</ui:define>

	<ui:define name="content">
		<h:form>
			<ui:include src="/pages/settings/toolbar/editSettings.xhtml"/>
			<h2>SMTP</h2>
        
			<h:panelGrid columns="3" styleClass="panelGridDetails">
			
				<p:outputLabel for="smtpHost" value="#{messages['smtp.host.label']}" />
				<h:inputText id="smtpHost" 
						value="#{settingsBean.settings.smptHostName}" 
						title="#{messages['smtp.host.description']}"/>
				<h:message for="smtpHost"/>				
				
				<p:outputLabel for="smtpPort" value="#{messages['smtp.port.label']}" />
				<h:inputText id="smtpPort" 
						value="#{settingsBean.settings.smtpPortNumber}" 
						title="#{messages['smtp.port.description']}"/>
				<h:message for="smtpPort"/>				
			
				<p:outputLabel for="smtpSender"
					value="#{messages['smtp.sender.label']}" />
				<h:inputText id="smtpSender" 
					value="#{settingsBean.settings.smtpUsername}" 
					title="#{messages['smtp.sender.description']}"/>
				<h:message for="smtpSender"/>				
			
			</h:panelGrid>
			<ui:include src="/pages/settings/toolbar/editSettings.xhtml"/>
		</h:form>
	</ui:define>
</ui:composition>