<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:lcg="http://www.lassitercg.com/jsf"
	xmlns:arttime="http://java.sun.com/jsf/composite/components"
	xmlns:rich="http://richfaces.org/rich"
	template="/layout/template.xhtml">

	<ui:define name="titleHead">
		#{messages['mainMenu.settings']} / #{messages['synchronization.title']}
	</ui:define>
	
	<ui:define name="titleBody">
		<h:panelGroup>#{messages['mainMenu.settings']}</h:panelGroup> / #{messages['synchronization.title']}
	</ui:define>

	<ui:define name="content">
		<h:form>
			<ui:include src="/pages/settings/toolbar/editSynchronization.xhtml"/>
			
			<h:outputText value="#{messages['synchronization.start.addition']}&lt;br/&gt;#{messages['synchronization.start.description']}" 
					styleClass="warning" escape="false"/>
			
			<h:panelGrid columns="3" styleClass="panelGridDetails">								

				<p:outputLabel for="teamSynchronizationCheckbox"
					value="#{messages['synchronization.teamEnabled.label']}" />
				<h:selectBooleanCheckbox id="teamSynchronizationCheckbox"
					value="#{settingsBean.settings.teamSynchronizationEnabled}" />
				<h:message for="teamSynchronizationCheckbox" />				

				<p:outputLabel for="employeesSynchronizationCheckbox"
					value="#{messages['synchronization.employeesEnabled.label']}" />
				<h:selectBooleanCheckbox id="employeesSynchronizationCheckbox"
					value="#{settingsBean.settings.employeesSynchronizationEnabled}" />
				<h:message for="employeesSynchronizationCheckbox" />				
				
				<p:outputLabel for="intervalSynchronization"
						value="#{messages['synchronization.timerHoursInterval.label']}" />
				<p:spinner id="intervalSynchronization"
						value="#{settingsBean.settings.timerHoursInterval}" 
						title="#{messages['synchronization.timerHoursInterval.description']}"/>
				<h:message for="intervalSynchronization"/>				
		      		  
			</h:panelGrid>

			<ui:include src="/pages/settings/toolbar/editSynchronization.xhtml"/>
		</h:form>
	</ui:define>
</ui:composition>