@font-face {
	font-family: 'Art-time';
	src:url('fonts/Art-time.eot?-3bgg5y');
	src:url('fonts/Art-time.eot?#iefix-3bgg5y') format('embedded-opentype'),
		url('fonts/Art-time.woff?-3bgg5y') format('woff'),
		url('fonts/Art-time.ttf?-3bgg5y') format('truetype'),
		url('fonts/Art-time.svg?-3bgg5y#Art-time') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
    font-family: 'wf_SegoeUILight';
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot');
    src:url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.eot?#iefix') format('embedded-opentype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.woff') format('woff'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.ttf') format('truetype'),
           url('http://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light/latest.svg#web') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

html, body {
    height: 100%;
}

body, a {
    font: normal 14px 'wf_SegoeUILight', Geneva, sans-serif;
}

.scrollHidden {
    overflow: hidden;
}

input, textarea, select {
    font-family: 'wf_SegoeUILight', Geneva, sans-serif;
}

ol, ul {
    list-style-type: none;
}

a, a:focus, img {
    border: none;
    outline: none;
}

a, a:hover {
  color: #42a9d9;
}

a:hover {
  text-decoration: none;
}

textarea {
    outline: none;
    resize: none;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Art-time';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
  color: #7b7b7b;
  font-size: 18px;
  font-weight: normal;
}

#container {
  padding: 0px 20px;
}

#container h2 {
  padding: 15px 0px 15px 0px;
}

button, input[type="reset"], input[type="submit"], input[type="button"], button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover {
    background-image: none;
    background-color: transparent;
    font-family: 'wf_SegoeUILight', Geneva, sans-serif;
}


.emptyCell {
  background: url("../img/empty_cell.jpg") repeat top left;
}

.calendarNonWorkingDay {
	background-color: gray;
	font-style: italic;
	color: #FF7800;
}

.approvedHours {
	background-color: #cef9db !important;
  	color: #777;
  	font-weight: bold;
}

.loginPage {
  background-color: #7b7b7b;
}

.loginWrapper {
  margin: 145px auto 0px auto;
  width: 370px;
} 

.loginWrapper h1 {
  background: url("../img/login.png") no-repeat top center;
  height: 33px;
  padding-bottom: 10px;
}

.loginBox {
  box-shadow: 0 1px 1px rgba(105, 105, 105, 0.44);
}

.loginBox h3 {
  background-color: #131414;
  border-radius: 5px 5px 0px 0px;
  color: #cecece;
  font-size: 18px;
  font-weight: normal;
  padding: 4px 0 7px;
  text-align: center;
}

.loginForm {
  background-color: #fff;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 25px;
}

.loginForm li {
  padding-bottom: 10px;
}

.loginForm label {
  color: #7b7b7b;
  display: list-item;
  padding-bottom: 2px;
}

.loginForm input[type="text"], .loginForm input[type="password"] {
  background: none;
  border: 1px solid #cecece;
  border-radius: 4px;
  color: #7b7b7b;
  font-size: 14px;
  height: 25px;
  padding: 0px 4px;
  width: 97%;
}

.loginForm input[type="checkbox"] {
  margin-right: 5px;
}

.ui-message {
  color: #ff7676;
  font-size: 12px;
}

button:hover, .actionPanel td button:hover {
  background: none;
}

/*.icon-enter:before {
	content: "\e60b";
  padding-right: 10px;
}*/

.ui-button.loginBtn {
  background-image: none;
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 4px;
  color: #7b7b7b;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  height: 27px;
  text-align: center;
  width: 100%;
}

.ui-button.loginBtn span {
  background: url("../img/insert_ico.png") no-repeat 0px 3px;
  display: inline-block;
  font-family: 'Segoe UI', Geneva, sans-serif;
  font-size: 13px;
  padding: 2px 0px 2px 20px;
  vertical-align: top;
}



ui-button-text-only .ui-button-text {
    padding: 0;
}

.ui-button {
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 4px;
  color: #4e4e4e;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  padding: 2px 10px 4px 10px;
  white-space: nowrap;
} 

.ui-button .ui-button-text {
    display: inline;
    line-height: 13px;
    padding: 0px;
}


.loginForm .ui-messages-error, .loginForm .ui-message-error {
    background-color: transparent;
    border-color: transparent;
    color: #ff7676;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

.loginForm .ui-messages-error-icon {
  display: none;
}

.loginForm .ui-messages-error-summary {
  font-weight: normal;
  margin: 0px;
}

.loginForm .ui-messages-error li {
  padding: 0px;
}

.loginForm .ui-messages ul {
  margin: 0px;
}

.ui-tooltip {
  background-color: #fff;
  border: 1px solid #ff7676;
  border-radius: 4px;
  box-shadow: none;
  color: #ff7676;
  padding: 3px 10px;
}

.navigationPanel {
  border-collapse: collapse;
  padding: 0px;
  width: 100%;
}

.navigationPanel td, .navigationPanel .rf-tb {
  background-color: #131414;
  background-image: none;
}

.navigationPanel td, .navigationPanel .rf-ddm-itm, .navigationPanel .rf-ddm-itm-lbl, .navigationPanel .rf-ddm-lbl {
  color: #cecece;
  font-size: 15px;
  font-weight: normal;
}

.navigationPanel .rf-ddm-lbl-dec {
  font-weight: normal;
  padding: 0 12px;
} 

.navigationPanel .rf-tb {
  border: none 0px;
}

.navigationPanel .rf-tb td:first-child {
  width: 1px;
}

.navigationPanel .rf-tb td:first-child .rf-ddm-itm {
  border-left: 1px solid #626262;
  cursor: default;
  padding-left: 0px;
}

.navigationPanel > tbody > tr > td {
  padding: 0px 0px;
}

.navigationPanel > tbody > tr > td:first-child {
  text-align: center;
  vertical-align: middle;
  width: 135px;
}

.navigationPanel .rf-ddm-itm-unsel, .navigationPanel .rf-ddm-lbl {
    border: none 0px;
    padding: 0px;
}

.navigationPanel .rf-tb td:last-child {
  text-align: right;
}

.navigationPanel .rf-tb td:last-child .rf-ddm-itm {
  border-left: 1px solid #626262;
  padding: 10px 35px;
}

.navigationPanel .rf-tb .rf-tb-emp {
  width: 100%;
}

.navigationPanel .rf-tb td:nth-last-child(2) .rf-ddm-itm-lbl {
  font-size: 18px;
}

.navigationPanel .rf-ddm-itm-sel, .navigationPanel .rf-ddm-sel {
  background: none;
  border: none 0px;
  margin: 0px;
  padding: 0px;
}

.navigationPanel .rf-ddm-itm-lbl {
  vertical-align: inherit;
}

.navigationPanel .rf-ddm-itm {
  padding: 10px 12px;
}

.navigationPanel .rf-tb-itm {
  border-top: 5px solid #131414;
  height: 42px;
  padding: 0px 0px 6px 0;
}

.navigationPanel .rf-tb-itm:hover {
  background-color: #76d3ff;
}

.navigationPanel .unselectMenu:hover, .navigationPanel .rf-tb td:first-child:hover {
  background-color: transparent;
} 

.navigationPanel .rf-tb-itm:hover .rf-ddm-itm-lbl, .navigationPanel .rf-tb-itm:hover .rf-ddm-lbl-dec {
  color: #fff;
}

.navigationPanel .unselectMenu:hover .rf-ddm-itm-lbl {
  color: #cecece;
}

.navigationPanel .activeMenuItem > .rf-ddm-itm-lbl  {
  color: #fff;
}

.navigationPanel .rf-ddm-lst {
    background-color: #000;
    border: none 0px;
    min-width: 100px !important;
    top: 14px !important;
}

.navigationPanel .rf-ddm-lst-bg {
    background-image: none;
    border: none 0px;
}

.navigationPanel .rf-ddm-lst .rf-ddm-itm {
  font-size: 14px;
}

.navigationPanel .rf-ddm-lst .rf-ddm-itm-sel  {
  background-color: #76d3ff;
  color: #fff;
}

.navigationPanel .rf-ddm-lst .rf-ddm-itm-sel .rf-ddm-itm-lbl {
  color: #fff;
}

.navigationPanel .rf-ddm-lst .rf-ddm-itm {
    padding: 5px 12px;
}



.navigationPanel .rf-tb-itm.selectedItem {
    border-top: 5px solid #76d3ff;
}

.navigationPanel > tbody > tr > td img {
  margin: 5px 20px 0px;
}

.navigationPanel .rf-ddm-itm-ic {
  display: none;
}

#titleBody {
  position: relative;
}

#titleBody .titleBody {
  background-color: #fff;
  color: #555;
  font-size: 18px;
  padding: 12px 0px 15px 23px;
}

.titleBody span, #titleBody .titleBody span input, .titleBody span button {
  color: #444;
  margin-right: 5px;
}

.titleBody span button {
  height: 26px;
}

.titleBody span button span {
   margin: 0px;
   vertical-align: middle;
 }
 
.titleBody span .saveAsButton .ui-button-text {
  vertical-align: baseline;
}

.predefineStates {
  float: right;
  padding: 15px 30px 0px 30px;;
}

.predefineStates a {
  color: #42a9d9;
  font-size: 14px;
  padding-right: 15px;
}

.predefineStates input[type="submit"] {
  background-color: #fff;
  border: 1px solid #cecece;
  color: #4e4e4e;
  font-size: 13px;
}

.predefineStates input.avoidChangeTracking {
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
  padding: 3px 5px;
}

.predefineStates button:nth-last-child(3) {
  border-radius: 4px 0px 0px 4px;
  margin: 0px;
}

.predefineStates button:nth-last-child(2) {
  border-radius: 0px 4px 4px 0px;
  margin-left: -1px;
}

#container, #titleBody {
  display: block;
}

.handsontable {
  z-index: 2;
}

.predefineStates .avoidChangeTracking.selected {
  background-color: #42a9d9;
  border: 1px solid #2687b4;
  box-shadow: 1px 1px 3px 0 rgba(49, 125, 160, 1.0) inset;
  cursor: default;
  color: #fff;
}

.periodSelectorButtons button, .actionPanel td button {
  background-color: #fff;
  border: 1px solid #cecece !important;
  color: #4e4e4e;
  cursor: pointer;
  font-size: 13px;
  height: 26px;
  margin: 0px !important;
  max-width: 95px;
  min-width: 76px;
  padding: 0px 0px;
}

.actionPanel td button {
  padding: 2px 10px 4px;
  max-width: 100%;
  min-width: 0px;
}

.periodSelectorButtons button.selected, .actionPanel td.selected button {
  background-color: #42a9d9;
  border: 1px solid #2687b4;
  box-shadow: 1px 1px 3px 0 rgba(49, 125, 160, 1) inset;
  color: #fff;
  cursor: default;
}

.periodSelectorButtons button:nth-child(2), .actionPanel td:nth-child(2) button {
  border-left: none 0px;
  border-right: none 0px;
  margin-left: -1px !important;
}

.actionPanel td:nth-child(3) button {
  margin-left: -2px !important;
} 

.periodSelectorButtons button:first-child, .actionPanel td:first-child button {
  border-radius: 4px 0 0 4px;
}

.periodSelectorButtons button:last-child, .actionPanel td:last-child button {
  border-radius: 0px 4px 4px 0px;
  margin-left: -1px !important;
}

.actionPanel td:last-child button {
  margin-left: -3px !important;
}

.rf-tb {
    background-color: #f0f3f4;
    background-image: none;
    border: none 0px;
    color: #4e4e4e;
    font-family: 'wf_SegoeUILight',Verdana,sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.hoursIndicator {
    font-size: 13px;
    line-height: 17px;
    padding: 0 20px;
}

.hoursIndicator .label {
    display: block;
}

.hoursIndicator .field {
    color: #76d3ff;
}

.hoursIndicator .field img {
    margin: 0 0 0 8px;
}

.hoursIndicator .ui-progressbar {
    background-color: #f0f3f4;
    height: 6px;
    border-radius: 3px;
    overflow: hidden;
    margin-top: 2px;
}

.hoursIndicator .ui-progressbar-value {
    background-color: #42a9d9;
    margin: 0;
}

.menuSeparatorRight {
    border-right: 1px solid #626262 !important;
    cursor: default;
}

.filterButton {
  background: url("../img/filter.png") no-repeat center left;
  border-right: 1px solid #cecece;
  color: #4e4e4e !important;
  display: inline-block;
  font-size: 13px;
  height: 18px;
  margin-top: 5px;
  width: 35px;
}

.toolBar .filterSelector {
    padding: 0px 10px 0px 0px;
    border-right: 1px solid #cecece;
}

.filterButton:hover {
  color: #4e4e4e;
  text-decoration: underline;
}

.filterButton .filterButtonText {
  background: url("../img/arrow.png") no-repeat 100% 7px;
  display: inline-block;
  padding: 0px 14px 0px 0px;
}

.periodSelector input {
  font-size: 13px;
}

.calendar input {
  background: #fff url("../img/calendar_ico.png") no-repeat 95% 5px !important;
  border: 1px solid #cecece !important;
  border-radius: 4px !important;
  padding: 0px 25px 0px 5px !important;
  width: 100px !important;
}

.periodSelector .previous, .periodSelector .next {
  background-color: transparent;
  border: 0 none;
  color: #cecece;
  font-size: 17px;
  height: 24px;
  padding: 0;
  width: 25px;
} 

.toolBar td {
  padding: 8px 0px 7px 10px;
}

.toolBar td:last-child {
  padding-right: 10px;
}

.rf-cal {
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
}

.rf-cal-extr {
    border: none 0px;
}

.toolBar .rf-cal-hdr {
    background-color: #ffff;
    border-bottom: none 0px;
    font-family: Arial,Verdana,sans-serif;
    font-size: 13px;
    padding: 0px;
}

.toolBar .rf-cal-tl {
  display: none;
}

.monthSelector {
    background: #fff url("../img/calendar_ico.png") no-repeat 95% 5px;
    border: 1px solid #cecece;
    border-radius: 4px;
    color: #4e4e4e;
    font-family: Arial,Verdana,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    padding: 4px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 180px;
}

.rf-cal-hdr {
    background-color: transparent;
    border: none 0px;
    font-family: Arial,Verdana,sans-serif;
    font-size: 13px;
}

.rf-cal-hdr-month {
    background-color: transparent;
    color: #464646;
    font-family: Arial,Verdana,sans-serif;
    font-size: 13px;
    font-weight: normal;
    height: auto;
    padding: 0px !important;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.rf-cal-tl {
   background-color: transparent;
   color: #464646;
   font-size: 13px;
   font-weight: normal;
   height: auto;
}

.rf-cal-tl-btn-dis {
  padding: 0px;
}

.rf-cal-tl-btn {
  padding: 0px;
}

.rf-cal-tl-btn-hov {
  background-color: transparent;
  border: none 0px;
}

.ui-datepicker {
    background-color: #fff;
    border: 1px solid #cecece;
    border-radius: 4px;
    width: 14em;
}

.calendar .ui-datepicker {
    border: none 0px;
    width: 100%;
}

.ui-datepicker td span, .ui-datepicker td a {
    border: 1px solid #fff;
    color: #7b7b7b;
    display: inline-block;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0px;
    text-align: center;
    width: 26px;
    vertical-align: middle;
}

.calendar .ui-datepicker td span, .calendar .ui-datepicker td a {
    color: #555;
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 40px;
}

.ui-datepicker td {
   padding: 0px;
} 

.calendar .ui-datepicker .ui-datepicker-header, .calendar .ui-datepicker {
    padding: 0;
}

.calendar .ui-datepicker .ui-datepicker-header {
  margin-top: -3px;
}

.ui-datepicker td span:hover, .ui-datepicker td a:hover {
  border: 1px solid #76d3ff;
  border-radius: 3px;
}

.calendar .ui-datepicker td span:hover, .calendar .ui-datepicker td a:hover {
  border: 1px solid #fff;
  border-radius: 0px;
}

.ui-datepicker th {
  color: #4e4e4e;
  font-weight: normal;
  padding-bottom: 2px;
}

.ui-datepicker th.ui-datepicker-week-end {
  border-bottom: 2px solid #ff8989;
}

.calendar .ui-datepicker th.ui-datepicker-week-end {
  border-bottom: none 0px;
}


.ui-datepicker .ui-datepicker-title {
  color: #464646;
} 

.ui-datepicker-prev {
  background: url("../img/hor_arrow.png") no-repeat 7px 7px; 
  cursor: pointer;
}

.ui-datepicker-next {
  background: url("../img/hor_arrow.png") no-repeat -124px 7px;
  cursor: pointer; 
}

.ui-panel .ui-panel-content {
  padding: 0px 0px 0px 0px;
}

.ui-layout-unit, .ui-layout-unit .ui-layout-unit-content, .ui-layout-west {
    padding: 0;
}

.ui-layout-unit.ui-layout-center {
  background-color: #fff;
}

.ui-layout-unit.ui-layout-center .ui-layout-unit-content {
  padding: 0px 20px;
}


.ui-layout-unit, .ui-layout-west, .ui-layout-west .ui-layout-unit-content {
  background-color: #f0f3f4;
}

.ui-layout-west > table, .ui-layout-unit .ui-layout-unit-content > form > table {
  width: 100%;
}

.handsontable .wtHider {
    background: none repeat scroll 0 0 #fff;
}

.ui-panel-content .periodSelector .calendar input {
  width: 87px;
}

.ui-panel-content .periodSelectorButtons {
  display: block;
  margin-bottom: 10px;
}

.ui-panel .ui-panel-titlebar {
  border-top: 1px solid #cecece;
  margin: 10px 0 0;
  padding: 0 0 0 10px;
}

.ui-panel .ui-panel-title {
  background-color: #f0f3f4;
  color: #4e4e4e;
  display: inline-block;
  margin: 0;
  padding: 0 5px;
  position: relative;
  top: -13px;
}

.actionPanel {
  border-collapse: collapse;
  display: block;
  margin-bottom: 10px;
  white-space: nowrap;
}

.ui-panel-content .searchInput {
  background: #fff url(../img/zoom.png) no-repeat 97% 9px;
  border: 1px solid #cecece;
  border-radius: 4px 4px 0px 0px;
  color: #4e4e4e;
  font-size: 13px;
  padding: 3px 25px 3px 5px;
  width: 197px;
}

.manySelectorPanel {
  background-color: #fff;
  border: 1px solid #cecece;
  border-radius: 0px 0px 4px 4px;
  border-top: none 0px;
  height: 156px;
  overflow-y: auto;
  padding: 0px;
  width: 227px;
}

.ui-chkbox {
  padding: 0px 5px 0px 5px;
}

.ui-chkbox .ui-chkbox-box {
  border-radius: 0px;
  height: 11px;
  width: 13px;
}

.ui-chkbox .ui-chkbox-box.ui-state-default {
  background: url(../img/checkbox.png) no-repeat 0px 0px;
}

.ui-chkbox .ui-chkbox-box.ui-state-active, .ui-state-highlight .ui-chkbox .ui-chkbox-box.ui-state-active, .ui-state-highlight .ui-chkbox .ui-chkbox-box.ui-state-default {
  background: url(../img/checkbox.png) no-repeat 0px 100%;
}

.ui-chkbox .ui-chkbox-box .ui-icon {
  display: none;
}

.ui-icon.ui-icon-minusthick {
  background: #f0f3f4 url(../img/collapse_arrow.png) no-repeat 4px 0px;
  height: 7px;
  width: 20px;
}

.ui-icon.ui-icon-plusthick {
  background: #f0f3f4 url(../img/collapse_arrow.png) no-repeat 4px 100%;
  height: 7px;
  width: 20px;
}

.ui-panel .ui-panel-titlebar-icon, .ui-panel .ui-panel-titlebar-icon:hover, .ui-panel .ui-panel-titlebar-icon:focus {
  margin: -13px 8px 0px 0px;
}

input.saveButton, input.saveButton:hover {
  background: #fff url(../img/save_ico.png) no-repeat 10px 4px;
  border: 1px solid #cecece;
  border-radius: 4px;
  color: #4e4e4e;
  cursor: pointer;
  font-size: 13px;
  height: 26px;
  margin-right: 7px;
  padding: 0px 15px 0px 30px;
}

.htCore th, .htCore td {
  color: #444444 !important;
  font-weight: normal;
}

.handsontable thead th {
  background-color: transparent;
  border: none 0px !important;
  font-size: 14px;
  height: 71px;
  padding: 0px 0px 5px 0px;
  vertical-align: middle;
}

.colHeader span {
  display: block;
}

.colHeader .weekDay {
  font-size: 16px;
}

.colHeader .dayNumber {
  color: #464646;
  font-size: 28px;
}

.colHeader .month {
  font-size: 12px;
}

/*.handsontable  {
  margin-top: 30px;
}*/

.handsontable .handsontable .wtHider {
    padding: 0px;
}

.handsontable .handsontable table {
    border-bottom: 1px solid #cecece;
    box-shadow: none;
}

.dayHeader, .weekendHeader {
  border-bottom-width: 4px;
  border-bottom-style: solid;
  display: inline-block;
}

.dayHeader {
  border-bottom-color: #fff;
}

.weekendHeader {
  border-bottom-color: #ffdddd;
}

.currentDay {
  border-bottom-color: #76d3ff;
}

.handsontable td.ui-datatable-odd {
  background-color: transparent;
}

.handsontable .weekendCell {
  background-color: #fff3f3 !important;
}

.rf-dt {
  border: none 0px;
  border-collapse: collapse;
  color: #7b7b7b;
  margin: 10px auto;
  width: 100%;
}

.rf-dt th {
  border-bottom: 1px solid #cecece;
  padding: 10px 0px 10px 20px;
  text-align: left;
}

.rf-dt td {
  border-bottom: 1px solid #cecece;
  padding: 4px 0px 3px 20px;
  width: 33%;
}

.rf-dt td:first-child {
  border-left: 5px solid transparent;
}

.rf-dt th, .rf-dt th a {
  background: none;
  background-color: transparent;
  border-right: none 0px;
  color: #555;
  font-family: wf_SegoeUILight;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
}

.rf-dt td, .rf-dt td a {
  border-right: none 0px;
  color: #7b7b7b;
  font-size: 13px;
  text-decoration: none;
}

.actualTime {
  background: url(../img/check_ico.png) no-repeat 0px 0px;
  display: inline-block;
  height: 8px;
  width: 11px;
}

input.actualButton, input.actualButton:hover {
  background: url(../img/check_ico.png) no-repeat 50% 50%;
  border: 1px solid transparent;
  border-radius: 4px 0px 0px 4px;
  border-right: none 0px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 40px;
}


input.editButton, input.editButton:hover {
  background: url(../img/edit_ico.png) no-repeat 50% 50%;
  border: 1px solid transparent;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  vertical-align: middle;
  width: 40px;
}

.leftSideButton {
  border-radius: 4px 0px 0px 4px;
  border-right: none 0px !Important;
  margin: 0px;
}

.rightSideButton{
  border-radius: 0px 4px 4px 0px;
  margin-right: 13px;
}
  

input.deleteButton, input.deleteButton:hover {
  background: url(../img/del_ico.png) no-repeat 8px 50%;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #7b7b7b;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 24px;
  margin-left: 13px;
  vertical-align: middle;
  padding: 0px 8px 0px 22px;
}

.invisibleBorder, .invisibleBorder input {
  border: 1px solid transparent !important;
  color: #7b7b7b !importnat;
}

.checkIcon {
  background: url("../img/check_ico.png") no-repeat 50% 50%;
}

.deleteIcon {
  background: url(../img/del_ico.png) no-repeat 0px 30%; 

} 

.editIcon {
  background: url(../img/edit_ico.png) no-repeat 50% 50%;
}

.saveIcon {
 background: url("../img/save_ico.png") no-repeat 0px 0%;
}

.newIcon {
  background: url("../img/new_ico.png") no-repeat 0px 50%;
}

.rf-dt tr:hover td {
  background-color: #cff0ff;
  color: #131414;
}

.rf-dt tr:hover td a {
  color: #131414;
}

.rf-dt tr:hover td:first-child {
  border-left-color: #76d3ff;
}

.rf-dt tr:hover input.deleteButton, .rf-dt tr:hover input.actualButton, .rf-dt tr:hover input.editButton {
  background-color: #fff;
  border-color: #cecece;
  color: #4e4e4e;
}

.rf-dt tr:hover .invisibleBorder {
  background-color: #fff !important;
  border-color: #cecece !important;
  color: #4e4e4e !important;
}

input.newTypeBtn, input.newTypeBtn:hover {
  background: #ffffff url(../img/new_ico.png) no-repeat 10px 50%;
  border: 1px solid #cecece;
  border-radius: 4px;
  color: #4e4e4e;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 24px;
  margin-right: 15px;
  padding: 0px 8px 0px 25px;
}

.ui-icon {
  display: inline-block;
  height: 16px;
  vertical-align: middle;
  width: 18px;
}



.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon {
  margin-top: 0px;
  position: static;
}

textarea, input[type="text"], input[type="password"], select {
  background-color: #ffffff;
  background-image: none;
  border-color: #cecece;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #7b7b7b;
  font-family: 'wf_SegoeUILight', Geneva, sans-serif;
  font-size: 13px;
  height: 24px;
  padding: 0px 4px;
}

.ui-outputlabel {
  color: #7b7b7b;
  padding: 0px 10px 0px 0px;
}

.ui-outputlabel-rfi {
  color: #ff7676;
}

input.searchInput {
  border-right: none 0px;
  border-radius: 4px 0px 0px 4px;
  width: 315px;
}

button.searchButton {
  background: #ffffff url(../img/zoom.png) no-repeat 50% 50%;
  border-left: none 0px;
  border-radius: 0px 4px 4px 0px;
  height: 26px;
  margin-left: -10px;
  vertical-align: middle;
  width: 26px;
}

button.leftPositionButton {
  border-radius: 4px 0px 0px 4px;
  margin-right: 0px;
}

button.rightPositionButton {
  border-left: none 0px;
  border-radius: 0px 4px 4px 0px;
  margin-left: -10px;
  margin-right: 0px;
}

button.middlePositionButton {
  border-left: 0px;
  border-radius: 0px;
  margin-left: -10px;
  margin-right: 0px;
}

.ui-button.selected, .ui-button.selected:hover {
  background-color: #42a9d9;
  border-color: #2687b4;
  color: #fff;
  cursor: default;
}

.rf-dt td:last-child {
  padding-right: 10px;
  white-space: nowrap;
}

.ui-selectonemenu {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cecece;
  border-radius: 4px;
  color: #555;
  font-size: 13px;
  height: 24px;
  margin-top: 4px;
  padding: 0px;
  width: 100%;
}

.ui-selectonemenu label {
  line-height: 23px;
  padding: 0px 4px 0px;
}

.ui-selectonemenu-trigger .ui-icon {
  background: #ffffff url(../img/arrow.png) no-repeat 50% 6px; 
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item {
    color: #555;
}

.ui-outputpanel .ui-selectonemenu {
  margin-top: 0px;
  vertical-align: middle;
}

.panelGrid td {
  padding-right: 10px;
}

.calendar.invisibleBorder input {
  background: none !important;
  height: 22px;
}

.rf-dt tr .calendar.invisibleBorder {
  border-radius: 4px;
  color: #555;
  display: inline-block;
  
}

.rf-dt tr:hover .calendar.invisibleBorder, .rf-dt tr:hover .ui-selectonemenu.invisibleBorder {
  background-color: #fff !important;
  border: 1px solid #cecece !important;
  border-radius: 4px;
  color: #555; 
}

.rf-dt tr:hover .calendar.invisibleBorder {
  border-radius: 4px;
  color: #555;
  display: inline-block;
  height: 24px;
}

.rf-dt tr:hover .calendar.invisibleBorder input {
  background: url("../img/calendar_ico.png") no-repeat 95% 5px transparent !important;
  cursor: pointer;
  padding: 0 4px;
}

.ui-selectonemenu.invisibleBorder .ui-selectonemenu-trigger .ui-icon {
 background: none; 
}

/*.rf-dt tr:hover .ui-selectonemenu.invisibleBorder  {
  background-color: transparent !important;
  border: 1px solid transparent !important;
}*/

.rf-dt tr:hover .ui-selectonemenu.invisibleBorder .ui-selectonemenu-trigger .ui-icon {
  background: url(../img/arrow.png) no-repeat 50% 8px;
}

.ui-selectonemenu-panel {
  background-color: #fff;
}

.ui-shadow {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
}

.ui-state-error, input.ui-state-error, .ui-spinner.ui-state-error input {
    border-color: #ff7676 !important;
} 

.ui-selectmanycheckbox label, .ui-selectoneradio label {
  color: #7b7b7b;
  margin-top: 0px;
}

.panelGridDetails td {
  color: #7b7b7b;
}

.panelGridDetails >tbody > tr > td {
   padding: 10px 0px;
   vertical-align: top;
}

.panelGridDetails textarea {
  height: 75px;
  width: 310px;
}

.panelGridDetails input[type="text"] {
  width: 310px;
}

.panelGridDetails .ui-selectonemenu {
  margin: 0px;
  width: 317px !important;
}

.ui-messages-error, .ui-message-error {
    background-color: #fff2f2;
    border-color: #ff7676;
    border-radius: 5px;
    color: #ff7676;
}

.ui-messages-error-icon {
  background: url(../img/error_ico.png) no-repeat 50% 90%;
}

.ui-messages-error-summary {
  margin-left: 0px;
}

.panelGridDetails .ui-messages-error, .panelGridDetails .ui-message-error {
    background-color: transparent;
    border-color: transparent;
}

.panelGridDetails .ui-message-error-icon {
  display: none;
}

.ui-spinner input {
  padding-right: 25px;
  width: 80px !important;
}

.ui-spinner-button {
  background-color: transparent;
  border: none 0px;
  height: 12px !important;
  padding: 0px;
}

.ui-spinner .ui-icon-triangle-1-n {
  background: url(../img/arrow.png) no-repeat 3px 110%;
}

.ui-spinner .ui-icon-triangle-1-s {
  background: url(../img/arrow.png) no-repeat 3px 4px !important;
}

.worktimeCalendarContainer {
  margin: 20px 0px;
}

.worktimeCalendarContainer, .worktimeCalendarContainer table {
  border-collapse: collapse;
}

.worktimeCalendarContainer td {
  border: none 0px;;
  color: #555;
  font-size: 14px;
} 

.worktimeCalendarContainer table td {
  border-bottom: none 0px;
  border-left: 1px solid transparent;
}

.worktimeCalendarContainer .rf-cal-holiday {
  background-color: transparent;
}

.rf-cal-sel {
    background-color: transparent;
    color: #555;
    font-weight: normal;
}

.rf-cal-c-cnt-overflow {
  height: 30px;
  width: 40px;
}

.worktimeCalendarContainer .rf-cal-day-lbl {
  background-color: transparent;
  border: none 0px;
  height: 30px;
}

.worktimeCalendarContainer .rf-cal-today, .calendar .ui-datepicker-today {
  background-color: transparent;
  border: 1px solid #ff7676;
  color: #555;
  font-weight: normal;
}

.worktimeCalendarContainer .rf-cal-hov, .worktimeCalendarContainer .calendar table td:hover {
  background-color: transparent;
  border: 1px solid #ff7676;
  color: #555;
}

.worktimeCalendarContainer .calendar table td.ui-datepicker-other-month:hover {
  background-color: transparent;
  border: none 0px;
  color: #555;
}

.worktimeCalendarContainer .calendarNonWorkingDay, .worktimeCalendarContainer .rf-cal-today.calendarNonWorkingDay, .worktimeCalendarContainer .calendar table .calendarNonWorkingDay:hover {
  background-color: #fff2f2;
  border: 1px solid #ff7676;
  font-style: normal;
}

.ui-panel {
  padding: 5px 10px;
}

.outputForm td {
  color: #4e4e4e;
  padding: 10px 10px 0px 0px;
}

.outputForm td:first-child {
  width: 200px;
}

.ui-datatable.pfDataTable table {
  border: none 0px;
  color: #4e4e4e;
  table-layout: fixed; 
}

.ui-datatable.pfDataTable th {
  border-left: none 0px;
  border-right: none 0px;
  border-top: none 0px;
  text-align: left;
  vertical-align: baseline;
}

.ui-datatable.pfDataTable td {
  border-left: none 0px;
  border-right: none 0px;
  border-top: none 0px;
  padding: 8px 0 7px 20px;
  vertical-align: baseline;
}

.ui-datatable.pfDataTable td {
  border-bottom-color: #cecece;
  padding: 8px 0 7px 20px;
}

.ui-datatable.pfDataTable th:first-child {
  width: 33px;
}

.ui-datatable.pfDataTable td:first-child {
  border-left: 8px solid transparent;
}

.commentInput {
  margin: 15px 0px;
}

.commentInput td:first-child {
  vertical-align: top;
  width: 120px;
}

.commentInput textarea {
  height: 170px;
  width: 98%;
}

.warning {
  background: #fffceb url(../img/warning.png) no-repeat 15px 50%;
  border: 1px solid #cecece;
  border-radius: 5px;
  color: #4e4e4e;
  display: block;
  margin: 15px 0px 10px 0px;
  padding: 7px 0px 7px 45px;
}

.pdfIcon {
  background: url(../img/doc_ico.png) no-repeat 105% 0%;
}

.xlsIcon {
  background: url(../img/doc_ico.png) no-repeat top left;
}

.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary {
    font-weight: normal;
}

.ui-autocomplete input {
  border-right: 0px;
  border-radius: 4px 0px 0px 4px;
  vertical-align: middle;
}


.panelGridDetails .ui-autocomplete input {
  width: 280px;
 }

.ui-autocomplete .ui-button {
  background: url("../img/arrow.png") no-repeat 15px 11px;
  border-left: 0px;
  border-radius: 0px 4px 4px 0px;
  padding: 2px 10px 3px;
  vertical-align: middle;
}

.ui-autocomplete-panel {
  background-color: #fff;
}

.ui-autocomplete-panel .ui-autocomplete-list {
    padding: 0 0.4em 0.4em;
}

.rf-dt-shdr-c > a > span {
  display: inline-block;
  height: 10px;
  line-height: 0;
  margin-left: 5px;
  width: 10px;
}

.unsorted_ico {
  background: url("../img/unsorted_ico.png") no-repeat 0% 100%;
}

.asc_ico {
  background: url("../img/arrow.png") no-repeat 0% 108%;
}

.desc_ico {
  background: url("../img/arrow.png") no-repeat 0% 4px;
}

.ui-growl {
    background-color: #fff;
}

.ht_master .htCore td {
    text-align: right;
}

.ht_clone_left .htCore td:last-child {
    text-align: right;
}

.ui-outputpanel {
    padding: 5px 10px;
}

.ui-confirm-dialog-message {
    color: #4e4e4e;
}

.ui-confirm-dialog {
    background-color: #fff;
    border: 1px solid #cecece;
    width: 350px !important;
}

.ui-dialog .ui-dialog-titlebar {
  padding-top: 15px;
  text-align: center;
} 

.ui-dialog .ui-dialog-title {
  color: #ff7676;
  float: none;
  font-weight: bold;
}

.ui-dialog .ui-dialog-content {
  text-align: center;
}

.ui-confirm-dialog-severity {
  display: none !important;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
}

.handsontable td.area {
    background-color: #cff0ff;
}

.hiddenBottomBorder {
	border-bottom-style : none !important;	
}

.htCore .approvedWeekendHours {
  background-color: #a2d8b3 !important;
  color: #8CAABA !important;
  font-weight: bold !important;
}

.htContextMenu td {
  text-align: left !important;
}

.htContextMenu td.htDisabled {
color: #999 !important;
}  

.tdLongTextContainer {
  display: table-cell;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

.htCommentTextArea {
  background-color: #FFFACD;
  font-family: 'wf_SegoeUILight';
  height: 55px;
}

.groupHeader {
  border-right: none 0px !important;
  font-size: 16px;
  font-weight: bold !important;
}

.handsontable .groupHeader.totalColumn {
  border-right: 1px solid #7fdd9e !important;
}

.ht_master .htCore td.groupHeader:last-child {
    border-right: 1px solid #ccc !important;
}

.handsontable .weekendCell.groupHeader {
    background-color: transparent !important;
}

.worktimeCalendarContainer > tbody > tr > td:first-child {
    padding-right: 30px;
    vertical-align: top;
}

.worktimeCalendarContainer .rf-cal {
    margin-top: 3px;
}

.rf-cal-c-cnt-overflow.rf-cal-c.rf-cal-boundary-day.rf-cal-btn {
    border: none 0px;
    visibility: hidden;
}

.worktimeCalendarContainer .dayOff {
    background-color: #fff2f2;
    border: 1px solid #ff7676;
    border-radius: 2px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 30px;
}

td.totalColumn {
  border-left: 1px solid #7fdd9e;
  border-right: 1px solid #7fdd9e;
}

.handsontable  th.totalColumn {
  border: 1px solid #7fdd9e !important;
  border-bottom: none 0px !important;
  border-radius: 4px 4px 0px 0px;
}

.handsontable  tr:last-child td.totalColumn {
  border: 1px solid #7fdd9e !important;
  border-top: none 0px !important;
  border-radius: 0px 0px 4px 4px;
}

.htDimmed.hiddenRightBorder {
    border-right: none 0px;
}

.handsontable .htDimmed.totalsRow {
    background-color: #f0f3f4;
}

.approveIcon {
    background: url("../img/approve.png") no-repeat 50% 0%;
}

.disapproveIcon {
    background: url("../img/disapprove.png") no-repeat 50% -1px;
}

.approveAllIcon {
    background: url("../img/approve-all.png") no-repeat 50% 0%;
}

.disapproveAllIcon {
    background: url("../img/disapprove-all.png") no-repeat 50% 0%;
}

.westLayoutPanel, .westLayoutPanel .ui-layout-unit-content {
    overflow-x: hidden;
}

.worktimeCalendarContainer table table td:first-child, .worktimeCalendarContainer table table td:nth-last-of-type(2) {
  display: none;
}

.blockedHours {
 background-color: #f2f2f2 !important;
   color: #777;
   font-weight: bold;
}

.logoStatus {
  position: relative;
}

.ajaxStatus {
  left: 50%;
  
  position: absolute;
  top: 11px;
}

.ajaxStatus div {
  background-color: #fffceb;
  border: 1px solid #cecece;
  border-radius: 4px;
  padding: 3px 12px 2px 7px;
}

.ajaxStatus img {
  margin-right: 5px;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

.ht_clone_left, .ht_clone_corner {
  width: 450px !important;
}

.selectAllIcon {
    background: url("../img/all.png") no-repeat 50% 30%;
}

.selectNoneIcon {
    background: url("../img/notall.png") no-repeat 50% 30%;
}

.invertSelectionIcon {
    background: url("../img/invert.png") no-repeat 50% 30%;
}

.ui-selectmanymenu select {
    width: 210px;
}

.selectMyActiveProjectsIcon {
    background: url("../img/projects.png") no-repeat 50% 30%;
}

.ui-panel-content table {
  width: 100%;
}

.loadedFilterTable .ui-datatable-tablewrapper th, .loadedFilterTable .ui-datatable-tablewrapper td {
  border: none 0px;
  padding: 0px;
}

.loadedFilterTable .ui-datatable-tablewrapper .ui-button {
  background-color: transparent;
  border: none 0px;
  padding: 0px;
}

.loadedFilterTable .ui-datatable-tablewrapper td:last-child {
  padding-right: 0px;
  width: 11px;
}

.loadedFilterTable .ui-datatable-tablewrapper td:last-child .ui-icon {
  width: 11px;
}

.loadedFilterTable .ui-datatable-tablewrapper th {
    display: none;
}

#errorHeading {
  color: #555;
  display: block;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
  text-align: center;
}

#errorPanel {
  background-color: #f0f3f4;
  margin: 0px auto;
  max-width: 1280px;
  padding: 15px 0px 0px 0px;
}

#errorPanel_header {
  margin: 10px 20px 0px 20px;
}

#errorPanel_content {
  background-color: #fff;
  color: #555;
  height: 500px;
  overflow-y: auto;
  padding: 15px 20px;
}

.signout .rf-ddm-itm-ic {
	display:inline-block !important;
}

.signout .rf-ddm-itm-ic > img {
	margin:0px 5px 0px 0px !important;
	
}

#copyright {
	padding: 5px 20px; 
	display: block;
}

#copyright .copyrightText{
	border-top: 1px solid #CECECE; 
	display:block;
	font-size: 12px;
}
