<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:arttime="http://java.sun.com/jsf/composite/components">
		
		<h:form>
			<h:panelGroup id="title">#{title}:</h:panelGroup>
			<h:panelGroup style="display: #{empty param['openFilterSaveAsInput'] ? 'inline-block' : 'none'}">
				#{filterBean.currentFilter.name}
				<p:commandButton value="#{messages['button.saveAs']}" 
						update="@form"
						styleClass="avoidChangeTracking avoidChangesConfirmation saveAsButton"                    
						ajax="true" icon="saveIcon">
					<f:param name="openFilterSaveAsInput" value="true"/>
				</p:commandButton>
			</h:panelGroup>
			
			<h:panelGroup style="display: #{not empty param['openFilterSaveAsInput'] ? 'inline-block' : 'none'}">
				<p:focus for="filterName" />
				<p:inputText value="#{filterBean.currentFilter.name}" id="filterName" onfocus="this.select()"/>
				<p:commandButton value=""
					title="#{messages['button.save']}"
					process="@form"
					update="@(form:not(:mainMenuForm))"
	                icon="approveIcon"
	                action="#{filterBean.save}"/>
				<p:commandButton value=""
					title="#{messages['button.cancel']}"
					update="@form"
					ajax="true"
					icon="disapproveIcon"/>
			</h:panelGroup>
		</h:form>
	
</ui:composition>