<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:arttime="http://java.sun.com/jsf/composite/components">
		
	<h:panelGrid id="filterContainer" columns="1" styleClass="avoidChangeTracking" style="width:253px;">
	
		<c:set var="currentFilter" value="#{filterBean.currentFilter}"/>		
		
		<c:if test="#{empty showHourTypesSelector}">
			<c:set var="showHourTypesSelector" value="true"/>
		</c:if>
		
		<p:panel id="filters" toggleable="true"
				header="#{messages['filter.label.filters']}" 
				toggleSpeed="500" closeSpeed="500"
				collapsed="#{filterBean.panelsCollapsedState['filters']}">
				
			<p:ajax event="toggle"/>
			
			<c:set var="activeProjectsFilter" value="#{filterService.getActiveProjectsFilter(loginBean.loggedEmployee)}"/>
			
			<h:panelGrid columns="1">				
				<h:commandLink value="#{activeProjectsFilter.name}"   
							action="#{itemBean[itemAction](activeProjectsFilter)}"
							styleClass="avoidChangeTracking" />
				
				<h:commandLink value="#{allProjectsFilter.name}"  
							action="#{itemBean[itemAction](allProjectsFilter)}"
							styleClass="avoidChangeTracking"/>
				
				<p:dataTable var="filter" styleClass="loadedFilterTable"
					value="#{filterRepository.getFilters(loginBean.loggedEmployee)}" 
					sortBy="#{filter.name.toLowerCase()}"
					rendered="#{!filterRepository.getFilters(loginBean.loggedEmployee).isEmpty()}"
					id="filterTable">
					
					<p:column >
						<h:commandLink value="#{filter.name}" 
							action="#{itemBean[itemAction](filter)}"
							styleClass="avoidChangeTracking"/>
					</p:column>
					
					
					<p:column>
						
						<p:commandButton title="#{messages['button.delete']}" value=""
							rendered="#{!filter.isPredefined()}" 
		   					action="#{filterBean.remove(filter)}" 
			   				icon="deleteIcon" update="@form:filters" 
		   					styleClass="avoidChangeTracking"
		   					onclick="if(!confirm('#{messages['label.confirm.deleteFilter']}')){return};">
		   				</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:panelGrid>
		</p:panel>
		
		<p:panel id="projects" toggleable="true"
				header="#{messages['filter.label.projects']}" 
				toggleSpeed="500" closeSpeed="500"
				collapsed="#{filterBean.panelsCollapsedState['projects']}" >
				
			<p:ajax event="toggle"/>
			
			<arttime:selectManyMenu availableItems="#{filterBean.availableProjects}"
					selectedItems="#{currentFilter.projects}" itemLabel="#{item.code}"
					styleClass3rdButton="middlePositionButton">			
                <f:facet name="extraActionPanel">
                        <p:commandButton value=""
                        	action="#{filterService.setOnlyOwnActiveProjects(currentFilter)}"
                            update="selector" process="@this" immediate="true"
                            icon="selectMyActiveProjectsIcon"
                            title="#{messages['button.myActiveProjects']}"
                            styleClass="avoidChangeTracking avoidChangesConfirmation leftPositionButton"/>
                </f:facet>
            </arttime:selectManyMenu>
		</p:panel>	
		
		<p:panel id="location" toggleable="true"
				header="#{messages['filter.label.location']}"
				toggleSpeed="500" closeSpeed="500"
				collapsed="#{filterBean.panelsCollapsedState['location']}" >
				
			<p:ajax event="toggle"/>
			
			<arttime:selectManyMenu availableItems="#{employeeRepository.departments}"
					selectedItems="#{currentFilter.departments}" itemLabel="#{item}"/>							
		</p:panel>
		
		<p:panel id="employees" toggleable="true"
				header="#{messages['filter.label.employees']}"
				toggleSpeed="500" closeSpeed="500"
				collapsed="#{filterBean.panelsCollapsedState['employees']}" >
				
			<p:ajax event="toggle"/>
			
			<arttime:selectManyMenu availableItems="#{employeeRepository.all}"
					selectedItems="#{currentFilter.employees}" itemLabel="#{item.fullName}"/>
		</p:panel>
		
		<p:panel id="hourTypes" toggleable="true"
				header="#{messages['filter.label.hourTypes']}" 
				toggleSpeed="500" closeSpeed="500" 
				rendered="#{showHourTypesSelector}"
				collapsed="#{filterBean.panelsCollapsedState['hourTypes']}" >
				
			<p:ajax event="toggle"/>
					
			<arttime:selectManyMenu availableItems="#{hourTypeRepository.all}"
					selectedItems="#{currentFilter.hourTypes}" itemLabel="#{item.type}"/>
		</p:panel>
				
	</h:panelGrid>											
</ui:composition>