<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:arttime="http://java.sun.com/jsf/composite/components">
	
		<rich:toolbar styleClass="toolBar">
			<rich:toolbarGroup location="left">
				<h:panelGroup>				
					<arttime:advancedPeriodSelector selector="#{filterBean.currentFilter.rangePeriodSelector}"/>
					<p:commandButton value="#{messages['button.apply']}"			   				
			   				styleClass="avoidChangeTracking"
			   				ajax="false" />
			   	</h:panelGroup>			
			</rich:toolbarGroup>
		</rich:toolbar>
	
</ui:composition>