<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions" xmlns:rich="http://richfaces.org/rich"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="/layout/template.xhtml">
                
    <ui:define name="titleHead">
        #{messages['error.title']}
    </ui:define>
    
    <ui:define name="content">
    
    	<h:outputText value="#{messages['error.heading']}" id="errorHeading"/>
        
        <p:panel toggleable="true" collapsed="true" id="errorPanel" header="#{errorPageBean.message}">
        	<pre>#{errorPageBean.exception}</pre>
        </p:panel>
        
    </ui:define>
</ui:composition>