<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	template="/layout/template.xhtml">
	
	<ui:define name="titleHead">
        #{messages['error.title']}
    </ui:define>
    
	<ui:define name="content">
	
		<h:outputText value="#{messages['error.heading']}" id="errorHeading"/>
		
		<p:panel id="errorPanel" header="404: Not found">
        	<pre>#{errorPageBean.exception}</pre>
        </p:panel>
	</ui:define>
</ui:composition>