<ui:composition xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html">

	<h:outputScript>

		function setWindowUnloadMessage() {
			window.onbeforeunload = function() {
				return "#{messages['warning.youHaveUnsavedChanges']}";
			};
		}

		function checkUnsavedModifications() {
			$("input:not(.avoidChangeTracking input)").on("change", setWindowUnloadMessage);
			$("textarea:not(.avoidChangeTracking textarea)").on("change", setWindowUnloadMessage);
			$("select:not(.avoidChangeTracking select)").on("change", setWindowUnloadMessage);
			$(".rf-cal-c").on("click", setWindowUnloadMessage);
			$(".ui-handsontable").on("change", setWindowUnloadMessage);
			$("button:not(.avoidChangeTracking button, .ui-autocomplete button)").on("click", setWindowUnloadMessage);
            $(".hasDatepicker:not(.avoidChangeTracking .hasDatepicker)").on("click", setWindowUnloadMessage);
            $(".ui-autocomplete-panel").on("click", ".ui-autocomplete-item", setWindowUnloadMessage);

			$(".avoidChangeTracking").off("click change", setWindowUnloadMessage);

			$(".avoidChangesConfirmation").click(function() {
				window.onbeforeunload = null;
			});
		};

		window.addEventListener("load", checkUnsavedModifications, false);
	</h:outputScript>

</ui:composition>