<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"	
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:arttime="http://java.sun.com/jsf/composite/components">

	<script type="text/javascript">
	//<![CDATA[
		$( document ).ready(function() {																										
			var menuItems = $("td[id^='mainMenuForm:']");
			$.each( menuItems, function( key, value ) {
				if ($(value).find("div.activeMenuItem").length > 0) {
					$(value).addClass("selectedItem");
				} else {
					$(value).removeClass("selectedItem");
				}								
			});
			
		});
	//]]>				
	</script>

	<h:form id="mainMenuForm">						
 		<rich:toolbar id="mainMenu" itemSeparator="line">
 			<rich:toolbarGroup location="left" itemClass="selectedItem" id="mainMenuGroup">
 				<rich:menuItem onclick="return false;"/>
	 			<rich:menuItem label="#{messages['mainMenu.timesheet']}" 
						action="timesheet"
						rendered="#{request.isUserInRole('employee')}"
						styleClass="#{fn:startsWith(view.viewId, '/pages/timesheet') ? 'activeMenuItem' : ''}" />
				<rich:menuItem label="#{messages['mainMenu.manageEfforts']}" 
						action="manageEfforts" 
						rendered="#{request.isUserInRole('exec') or request.isUserInRole('pm')}"
						styleClass="#{fn:startsWith(view.viewId, '/pages/manageEfforts') ? 'activeMenuItem' : ''}" 
						style="color:red"/>
				<rich:menuItem label="#{messages['mainMenu.reports']}" action="reports"
                        styleClass="#{fn:startsWith(view.viewId, '/pages/reports') ? 'activeMenuItem' : ''}"
                        rendered="#{request.isUserInRole('exec') or request.isUserInRole('pm')}"/>
				<rich:dropDownMenu label="#{messages['mainMemu.dictionaries']}"  					
						rendered="#{request.isUserInRole('exec') or request.isUserInRole('pm')}"					
						styleClass="#{(fn:startsWith(view.viewId, '/pages/hourType') 
									or fn:startsWith(view.viewId, '/pages/calendar') 
									or fn:startsWith(view.viewId, '/pages/project')
									or fn:startsWith(view.viewId, '/pages/workload')) ? 'activeMenuItem' : ''}" >					
					<rich:menuItem label="#{messages['mainMenu.projects']}" action="projects"/>
					<rich:menuItem label="#{messages['mainMenu.workloads']}" action="workloads" rendered="#{request.isUserInRole('exec')}"/>
					<rich:menuItem label="#{messages['mainMenu.calendars']}" action="calendars" rendered="#{request.isUserInRole('exec')}"/>
					<rich:menuItem label="#{messages['mainMemu.hourTypes']}" action="hourTypes" rendered="#{request.isUserInRole('exec')}"/>
				</rich:dropDownMenu>
				<rich:menuItem label="#{messages['mainMenu.notifications']}" 
						action="workTimeProblemsNotification" 
						rendered="#{request.isUserInRole('exec')}"
						styleClass="#{fn:startsWith(view.viewId, '/pages/notifications') ? 'activeMenuItem' : ''}" />
				<rich:dropDownMenu label="#{messages['mainMenu.settings']}" 
						rendered="#{request.isUserInRole('admin')}"
						styleClass="#{fn:startsWith(view.viewId, '/pages/settings') ? 'activeMenuItem' : ''}" >
					<rich:menuItem label="#{messages['mainMenu.settings.employees']}" action="employeeService"/>
					<rich:menuItem label="#{messages['mainMenu.settings.team']}" action="teamTracking"/>
					<rich:menuItem label="#{messages['mainMenu.settings.smtp']}" action="smtp"/>
					<rich:menuItem label="#{messages['mainMenu.settings.synchronization']}" action="synchronization"/>
					<rich:menuItem label="#{messages['mainMenu.settings.security']}" action="security"/>
					<rich:menuItem label="#{messages['mainMenu.settings.notification']}" action="notification"/>
				</rich:dropDownMenu>
			</rich:toolbarGroup>
			<rich:toolbarGroup location="right" itemClass="unselectMenu">
				<rich:menuItem onclick="return false;" styleClass="menuSeparatorRight"
							   rendered="#{fn:startsWith(view.viewId, '/pages/timesheet')}"/>
				<arttime:reportedHoursIndicator rendered="#{fn:startsWith(view.viewId, '/pages/timesheet')}"/>
				<rich:menuItem label="#{(loginBean.loggedEmployee == null) ? '' : loginBean.loggedEmployee.userName}"
                        title="#{messages['mainMenu.logout.title']}"
						action="#{loginBean.logout()}"
						icon="/img/signout.png"
						styleClass="signout"/>
			</rich:toolbarGroup>
		</rich:toolbar>		 
	</h:form>
</ui:composition>