<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich" xmlns:a4j="http://richfaces.org/a4j"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:o="http://omnifaces.org/ui" 
	xmlns:p="http://primefaces.org/ui" contentType="text/html">
<html>
	<h:head>
		<title><ui:insert name="titleHead"/> - ART-TIME</title>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		</f:facet>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />		
		<link href="#{facesContext.externalContext.requestContextPath}/stylesheet/styles.css" rel="stylesheet" type="text/css" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />
		<link rel="shortcut icon" href="#{request.contextPath}/img/favicon.ico" />
	</h:head>

	<h:body>
		<h:outputScript name="errorStyleForAutoCompleteButtons.js" library="js"/>
		<h:outputScript name="showTitlesInsideSheet.js" library="js"/>	
		
		<f:metadata>
     		<o:enableRestorableView/>
 		</f:metadata>
		<h:outputScript name="calendarLocales.js" library="js"/>

		<ui:include src="checkUnsavedModifications.xhtml"/>
					
		
		<h:panelGrid columns="4" styleClass="navigationPanel">
			<h:panelGroup layout="block" styleClass="logoStatus">			
				<h:graphicImage value="/img/staticLogo.gif"/>				
			</h:panelGroup>								
						
			<ui:include src="mainMenu.xhtml" />			
			
			<h:panelGroup id="progressBar">
				<ui:insert name="progressBar"/>
			</h:panelGroup>								
		</h:panelGrid>		
		
		<h:panelGroup id="titleBody">
			<div class="predefineStates">
				<ui:insert name="predefineState"/>
			</div>
			<div class="titleBody">			
				<ui:insert name="titleBody"/>
			</div>
			<p:ajaxStatus styleClass="ajaxStatus" oncomplete="addErrorStyleForAutoCompleteButtons()">     
			   	<f:facet name="start">
					<h:graphicImage value="/img/clocklogo-gray.gif"/>
					<h:outputText value="#{messages['ajaxStatus.label']}" />						
			   	</f:facet>     
			</p:ajaxStatus>			
		</h:panelGroup>

        <p:growl id="growl" autoUpdate="true" globalOnly="true"/>

		<h:panelGroup id="container">				
			<ui:insert name="content"/>
		</h:panelGroup>
		
		<h:panelGroup id="copyright">
			<h:outputText value="Artezio, LLC" styleClass="copyrightText"/>
		</h:panelGroup>
		
	</h:body>
</html>
</f:view>